@charset "utf-8";
@import "reset.css";
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{color:#666;}
.fn-tran-100{transition:all .1s ease-in 0s;}
.fn-tran-200{transition:all .2s ease-in 0s;}
.fn-tran{transition:all 1s cubic-bezier(0, 1, .1, 1) 0s;}
.fn-clear{zoom:1;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"1";clear:both;height:0;}
.fn-show{display:block;}
.fn-hide{display:none;}
.fn-left{float:left;_display:inline;}
.fn-right{float:right;_display:inline;}
.fn-input-text{vertical-align:top;*vertical-align:middle;*margin-top:-1px;*margin-bottom:-1px;}
.fn-input-button{vertical-align:top;*vertical-align:middle;border:none;background:none;text-align:center;cursor:pointer;}
.fn-text-justify{text-align:justify;text-justify:inter-ideograph;}
.fn-text-center{text-align:center;}
.fn-table-fixed{table-layout:fixed;}
.fn-font-arial{font-family:Arial !important;}
.fn-vertical-middle{vertical-align:middle !important;}
.fn-opacity-hide{opacity:0;filter:alpha(opacity=0)}
.fn-opacity-show{opacity:1;filter:alpha(opacity=100)}
.fn-visibility-hide{visibility:hidden;}
.fn-visibility-show{visibility:visible;}
.fn-wrap{word-wrap:break-word;word-break:break-all;white-space:normal;}
.fn-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.fn-bg-center{background-position:50%;background-size:contain;background-repeat:no-repeat;}
.fn-bg-cover-center{background-position:50%;background-size:cover;background-repeat:no-repeat;}
.fn-margin-middle{margin-left:auto;margin-right:auto;}
/*新的全局 2014.10.9*/
.fn-background-color-F00{background-color:#F00;}
.fn-background-color-000{background-color:#000;}
.fn-color-FFF{color:#FFF;}
.fn-color-666{color:#666;}