/*home*/
body{font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',"宋体",sans-serif;}
.lc-header {height:60px;background:url(../assets/img/bg_header.png) repeat-x;}
.lc-center-wrap {width:1000px;margin:0 auto;}
.lc-header .logo{padding:6px 0;}
.lc-header .area{display:inline;width:auto;margin-left:5px;height:26px;font-size:12px;padding:4px 0;}
.form-control:focus{border-color:#ccc;box-shadow:none;}
.lc-header .user{height:30px;border:1px solid #ebebeb;background:#f3f3f3 url(../assets/img/bg_user.png) repeat-x;line-height:30px;padding:0 10px;font-size:12px;border-radius:0 0 5px 5px;border-top:0;}
.lc-header .user > *{margin-left:10px;color:#666;}
.lc-header .user a:first-child{margin-left:0;}
/*导航*/
.lc-nav{height:40px;background:#047dc6;box-shadow:0 3px 5px #ccc;}
.lc-nav a{color:#FFF;}
.nav>li>a:focus, .nav>li>a:hover, .nav>li.active>a{background:#036098;}
@media (min-width:768px){.navbar-nav>li>a {font-size:14px;font-weight:bold;padding:10px 20px;}}
.lc-nav .search{width: 250px;height:25px;position:relative;margin:7px 0 0 0;padding:0;}
.lc-nav .search .form-control{height:28px;outline:none;font-size:12px;line-height:18px;height:18px;width:230px;padding:4px 10px 3px 10px;color:#666;border-radius:0;border:0px;}
.lc-nav .search i{position:absolute;top:5px;right:10px;z-index:2;cursor:pointer;color:#999999;height:15px;width:15px;background:url(../assets/img/search_icon.png) no-repeat;}
body{background: url('../assets/img/bg_main.png');}
.lc-breadcrumb{height:40px;background:#f2f2f2;line-height:40px;margin-top:20px;padding-left:10px;color:#666;}
.lc-breadcrumb .loc-tip{font-weight:bold;}
.lc-breadcrumb a{color:#047dc6;}
/*Court List*/
.court-list{background:#FFF;padding:20px;}
.court-list ul{list-style:none;padding:0;}
.court-list li{height:124px;padding:11px 10px;border:1px solid #eee;margin-bottom:20px;}
.court-list li:last-child{margin-bottom: 0;}
.court-list .court-intro{display:inline-block;color:#666;padding-left:10px;padding-top:10px;vertical-align:top;}
.court-list .court-intro h5{font-weight:bold;line-height:1.5;}  
/*footer*/ 
.lc-footer{margin-top:30px;background:#e1e1e1;}
.lc-footer .lc-top{height:36px;background:#f2f2f2;text-align:center;line-height:36px;}
.lc-footer .lc-top *{color:#333;margin-left:20px;}
.lc-footer .lc-top a:first-child{margin-left:0;}
.lc-footer .lc-bottom{height:120px;padding:36px 0 48px 0;background:#e1e1e1;text-align:center;color:#666;}
.lc-footer .lc-bottom > div{line-height:2;}

