<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- <html xmlns="http://www.w3.org/1999/xhtml" class="ng-app: myApp"> -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS</title>
<!-- #公用静态资源 -->
	<!-- 未打包CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="/src/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/src/css/globe.css" />
	<link rel="stylesheet" type="text/css" href="/src/css/main.css" /> -->
	<!-- 已打包CSS -->
	<link rel="stylesheet" type="text/css" href="/dist/css/main.min.css" />

	<!-- angularJS脚本引用 -->
	<script type="text/javascript" charset="utf-8" src="/src/js/libs/angular-1.0.1.min.js"></script>
<!-- /公用静态资源 -->

<style type="text/css">
.data-table td{padding:5px;border:1px solid #CCC;vertical-align:top;line-height:22px;}
.data-table input{width:120px;border:1px solid #CCC;padding:3px 5px;line-height:14px;height:14px;vertical-align:top;border-radius:3px;}
.data-table select{border:1px solid #CCC;border-radius:0;width:50px;height:22px;padding:0 5px;border-radius:3px;}
.data-no-deit .show{display:none;}
.data-no-deit .hide{display:inline;}
.data-deit .show{display:inline;}
.data-deit .hide{display:none;}
.co{color:#F00;[color:#F00;color:#000;]/*safari hack*/}
</style>

</head>
<body>
<div class="co">1234</div>
<div ng-app="myApp1" ng-controller="testCtrl" id="myApp1">
	hello {{name}} <span ng-bind="kiss"></span>
	<input type="text" ng-model="kiss" />
	<input type="checkbox" ng-model="isCheck" ng-change="checkChange()" />
	<ul>
		<li ng-repeat="item in list">{{$index + 1}}, {{$first}}, {{$last}}, {{$middle}}, {{item.name}},{{item.age}}</li>
	</ul>
	<div ng-hide="has">ng-hide</div>
	<div ng-show="true">ng-show</div>
	<div ng-class='className'>ng-class</div>
	<div ng-style='{background:"#F00"}'>ng-style</div>
	<img ng-src="{{img}}" width="100" height="100" alt="" />
	<a ng-href="{{href + aa}}">ng-href</a>
</div>

<!-- <div ng-app="myApp2" ng-controller="testCtrl" id="myApp2">
	hello {{name}}
</div> -->

<script type="text/javascript">
;(function(angular){


	// 应用模块定义
	var myApp1 = angular.module('myApp1', [], function(){
		console.log('RUN!!');
	});

	// 应用控制器
	myApp1.controller('testCtrl', function($scope, $timeout){

		// console.log(arguments);

		$scope.name = 'myApp1';
		$scope.list = [{name:'小白', age: 19}, {name:'小黑', age: 20}, {name:'小红', age: 30}, {name:'小黄', age: 30}];
		$scope.kiss = 'memeda';
		$scope.isCheck = true;
		$scope.checkChange = function(){
			console.log($scope.isCheck);
		};
		$scope.$watch('isCheck', function(){
			console.log(arguments);
		});

		$scope.has = true;

		$scope.className = 'heihei';

		$scope.img = '/src/img/tutu.jpg';

		$scope.href = 'http://www.baidu.com';


	});

	// var myApp2 = angular.module('myApp2', [], function(){
	// 	console.log('RUN!!');
	// });

	// myApp2.controller('testCtrl', function($scope, $timeout){
	// 	$scope.name = 'myApp2';
	// });

	// angular.bootstrap(document.getElementById("myApp1"),['myApp1']);
	// angular.bootstrap(document.getElementById("myApp2"),['myApp2']);

	// angular.element(document).ready(function() { 
	// 	angular.bootstrap(document); 

	// });



})(angular);
</script>
</body>
</html>