<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - 标签切换</title>
<link href="/assets/css/globe.css" rel="stylesheet" type="text/css">
<!-- angularJS脚本引用 -->
<script src="/assets/common/jquery.js"></script>
<script src="angular-1.0.1.min.js"></script>
<!-- /angularJS脚本引用 -->
<style type="text/css">
.tab-head>a{width:50px;color:#666;background:#FFF;float:left;line-height:30px;text-align:center;}
.tab-head>a.ui-focus{background:#666;color:#FFF;}
.tab-body{width:200px;}
.tab-body li{background:#666;color:#FFF;height:50px;line-height:20px;}
</style>
</head>
<body>
<div ng-controller="testCtrl">
	<!-- TAB HEAD -->
	<div class="tab-head fn-clear">
		<a href="javascript:" ng-repeat="key in data" ng-mouseover="chose(key.head)" ng-class="key.focusCls">{{key.head}}</a>
	</div>
	<!-- /TAB HEAD -->
	<!-- TAB BODY -->
	<div class="tab-body">
		<ul>
			<li ng-show="key.focus" ng-repeat="key in data">{{key.body}}</li>
		</ul>
	</div>
	<!-- /TAB BODY -->
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});

	app.controller('testCtrl', function($scope){
		//初始化数据
		$scope.data = [
			{ head: '小学', body: '留下小学', focus: true, focusCls: 'ui-focus'}, 
			{ head: '中学', body: '留下中学'}, 
			{ head: '高中', body: '杭州第九中学'}, 
			{ head: '大学', body: '浙江万里学院'}
		]
		//事件
		$scope.chose = function(KEY){
			$scope.data.forEach(function(v, i){
				if(KEY === v.head){
					v.focus = true;
					v.focusCls = 'ui-focus';
				}else{
					v.focus = false;
					delete v.focusCls;
				}
			});
		}
	});

})();
</script>
</body>
</html>