<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - calendar</title>
<!-- angularJS资源引用 -->
<link href="css/globe.css" rel="stylesheet" type="text/css">
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/angular-1.0.1.min.js" type="text/javascript"></script>
<!-- /angularJS资源引用 -->
<style>
.de-calendar td{border:1px solid #CCC;padding:5px;color:#666;}
.de-calendar tbody td{padding:0;}
.de-calendar tbody a{float:left;line-height:25px;text-align:center;width:25px;height:25px;}
.de-calendar tbody a.ui-next,.de-calendar tbody a.ui-prev{color:#CCC;}
.de-calendar tbody a:hover{background:#CCC;color:#FFF;}
</style>
</head>
<body>
<div ng-controller="testCtrl" ng-class="'de-calendar'">
	<table class="fn-table-fixed">
		<thead>
			<tr>
				<td>日</td>
				<td>一</td>
				<td>二</td>
				<td>三</td>
				<td>四</td>
				<td>五</td>
				<td>六</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="k in month">
				<td ng-repeat="x in k">
					<a href="" class="{{x.cls}}" title="{{x.title}}">{{x.value}}</a>
				</td>
			</tr>
			<tr>
				<td><a href="javascript:" title="上一个月" ng-click="changeMonth('prev')"><<</a></td>
				<td colspan="5" align="center">{{realYear}}年{{realMonth}}月</td>
				<td><a href="javascript:" title="下一个月" ng-click="changeMonth('next')">>></a></td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});
	//自身控制器
	
	app.controller('testCtrl', function($scope){
		//变量
		var month = $scope.month,
			tempArr,
			nowParse = parseToday(),
			nowYear = nowParse.year,
			nowMonth = nowParse.month,
			guid = 0;

		//函数
		//方法-解析今天的年月日周几
		function parseToday(){
			var dateExp = new Date();
			return {
				year: 	dateExp.getFullYear(),	//年
				month: 	dateExp.getMonth() + 1,	//月
				date: 	dateExp.getDate(),		//日
				day: 	dateExp.getDay()		//周几
			}
		}
		/**
		 * [parseYearMonth 正确渲染年月]
		 * @param  {Number} YEAR  [年]
		 * @param  {Number} MONTH [月]
		 * @return {Object}       [对象]
		 */
		function parseYearMonth(YEAR, MONTH){
			var flag = MONTH % 12 === 0,
				yNum = flag ? Math.floor(MONTH / 12) - 1: Math.floor(MONTH / 12),
				mNum = flag ? 12 : (MONTH % 12 + 12) % 12;
			return {
				year: YEAR + yNum,
				month: mNum
			}
		}
		/**
		 * [getThisMonthHaveDays 获取当前月有几天]
		 * @param  {Number} YEAR  [年份]
		 * @param  {Number} MONTH [月份]
		 * @return {Number}       [天数]
		 */
		function getThisMonthHaveDays(YEAR, MONTH){
			return new Date(YEAR, MONTH, 0).getDate();
		}
		/**
		 * [getWhenWeekMonthBeging 获取每月初是周几]
		 * @param  {Number} YEAR  [年份]
		 * @param  {Number} MONTH [月份]
		 * @return {Number}       [周几]
		 */
		function getWhenWeekMonthBeging(YEAR, MONTH){
			return new Date(YEAR, MONTH - 1, 1).getDay();
		}
		/**
		 * [getArrayDate *获取日期数组]
		 * @param  {[type]} YEAR  [description]
		 * @param  {[type]} MONTH [description]
		 * @return {[type]}       [description]
		 */
		function getArrayDate(YEAR, MONTH){
			var arrI,
				arrJ,
				guid = 0,//总计数
				uid = 0,//本月计数
				nid = 0,//下一个月计数
				month = [],
				tempArr,
				begin = getWhenWeekMonthBeging(YEAR, MONTH),
				end = getThisMonthHaveDays(YEAR, MONTH) + begin,
				prevData = parseYearMonth(YEAR, MONTH - 1),
				nextData = parseYearMonth(YEAR, MONTH + 1),
				tempPid,
				prevEnd = getThisMonthHaveDays(YEAR, MONTH - 1),//获取上一个月最后天
				pid = -begin;//上一个月计数
			//第一层循环
			for(arrI = 0; arrI < 6; arrI++){
				//第二层循环
				for(arrJ = 0, tempArr = []; arrJ < 7; arrJ++){
					//这个月日期
					if(guid >= begin && guid < end){
						tempArr.push({
							value: ++uid,
							title: YEAR+'-'+MONTH+'-'+uid
						});
					}
					//下一个月的日期
					else if(guid >= end){
						tempArr.push({
							value: ++nid,
							title: nextData.year+'-'+nextData.month+'-'+nid,
							cls: 'ui-next'
						});
					}
					//上一个月的日期
					else{
						tempPid = prevEnd + ++pid;
						tempArr.push({
							value: tempPid,
							title: prevData.year+'-'+prevData.month+'-'+tempPid,
							cls: 'ui-prev'
						});
					}
					guid++;
				}
				month.push(tempArr);
			}
			return month;
		}

		//环境变量
		$scope.month = getArrayDate(nowYear, nowMonth);
		$scope.realYear = nowYear;
		$scope.realMonth = nowMonth;
		$scope.changeMonth = function(key){
			var realYM = parseYearMonth(nowYear, key === 'prev' ? --nowMonth : ++nowMonth),
				realYear = realYM.year,
				realMonth = realYM.month;
			$scope.realYear = realYear;
			$scope.realMonth = realMonth;
			$scope.month = getArrayDate(realYear, realMonth);
		}
		
	});

})();
</script>
</body>
</html>