<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - directive</title>
<link href="/assets/css/globe.css" rel="stylesheet" type="text/css">
<!-- angularJS脚本引用 -->
<script src="/assets/common/jquery.js"></script>
<script src="angular-1.0.1.min.js"></script>
<!-- /angularJS脚本引用 -->
</head>
<body>
<div ng-controller="testCtrl" me-click="click('.js-search')">
	<div me-hide="aaa">1</div>
	<input type="checkbox" ng-model="aaa" />
	<input type="text" ng-model="aaa"/>
	<input type="radio" ng-model="aaa"/>
	<div>
		<a href="javascript:"  class="js-search">点击</a>
	</div>
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});
	app.directive('meHide', function(){
		return function($scope, $element, $attr){
			$scope.$watch($attr.nmHide, function(v){
				if(v){
					$element.css('display', 'none');
				}else{
					$element.css('display', '');
				}
			});
		}
	});
	app.directive('meClick', function($parse){
		return function($scope, $element, $attr){
			var fn = $parse($attr.meClick),
				re = $attr.meClick.match(/\('(.+)'\)/)[1];
			$element.on('click', re, function(){
				fn($scope, {});
				console.log(fn);
			});
		}
	});

	app.controller('testCtrl', function($scope){
		$scope.aaa = true;
		$scope.click = function(){
			console.log('点击', arguments, this);
		}
	});

})();
</script>
</body>
</html>