<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - input - 表单</title>
<link href="/assets/css/globe.css" rel="stylesheet" type="text/css">
<!-- angularJS脚本引用 -->
<script src="/assets/common/jquery.js"></script>
<script src="angular-1.0.1.min.js"></script>
<!-- /angularJS脚本引用 -->
<style type="text/css">
.ns-info td{padding:5px;}

.ns-input-text{border:1px solid #CCC;}
.ns-input-text.ng-focusin{border-color:#00e5ee;}
.ns-input-text.ng-invalid{border-color:#F00;}

</style>
</head>
<body>
<div ng-controller="testCtrl">
	<table class="ns-info">
		<tr>
			<td>姓名</td>
			<td><input class="ns-input-text" type="text" ng-model="a" name="username" ng-required="true" ng-minlength="2" ng-maxlength="5" ng-pattern="/^[^\d]+$/" ng-change="change()" ng-click="change($event)" /></td>
			<!-- 
			初始类名:		ng-pristine	ng-invalid 	ng-invalid-required	ng-valid-maxlength		ng-valid-minlength 		ng-valid-pattern
			
			输入‘1’后:	ng-dirty	ng-invalid 	ng-valid-required 	ng-valid-maxlength 		ng-invalid-minlength 	ng-valid-pattern

			输入‘11’后:	ng-dirty	ng-valid 	ng-valid-required	ng-valid-maxlength 		ng-valid-minlength 		ng-valid-pattern

			输入‘11a’后:	ng-dirty	ng-invalid 	ng-valid-required	ng-valid-maxlength  	ng-valid-minlength  	ng-invalid-pattern

			输入'1*6'后:	ng-dirty 	ng-invalid 	ng-valid-required  	ng-invalid-maxlength 	ng-valid-minlength   	ng-valid-pattern

			输入'1*6a'后:ng-dirty 	ng-invalid 	ng-valid-required 	ng-valid-maxlength 		ng-valid-minlength 	 	ng-invalid-pattern
			
			清楚输入后:	ng-dirty	ng-invalid	ng-invalid-required	ng-valid-maxlength  	ng-valid-minlength		ng-valid-pattern   
			 -->
		</tr>
		<tr>
			<td>性别</td>
			<td><input type="radio" name="sex" ng-model="e" value="男" ng-checked="true" ng-init="e='男'" /> 男 | <input type="radio" name="sex" ng-model="e" value="女" /> 女</td>
		</tr>
		<tr>
			<td>爱好</td>
			<td><input type="checkbox" name="hobbies" ng-true-value="足球" ng-model="b" ng-checked="true" ng-init="b='足球'" /> 足球 | <input type="checkbox" name="hobbies" ng-true-value="篮球" ng-model="c" /> 篮球 | <input type="checkbox" name="hobbies" ng-true-value="羽毛球" ng-model="d" /> 羽毛球</td>
		</tr>
		<tr>
			<td>地区</td>
			<td>
				<select ng-init="o=['a1', 'a2', 'a3']" ng-options="x for x in o" ng-model="f" ng-change="show()"></select>
				<select ng-init="list=[{'name': '小明', 'age': '18'}, {'name': '小红', 'age': '19'}, {'name': '小黄', 'age': '20'}]; g = list[1].age" ng-options="x.age as x.name for x in list" ng-model="g" ng-change="show1()"></select>
			</td>
		</tr>
		<tr>
			<td>信息</td>
			<td>名字：{{a}}，性别：{{e}}，爱好：{{hobbies}}</td>
		</tr>
	</table> 
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});
	app.controller('testCtrl', function($scope, $element){
		//额外的事件
		$element.on('focusin', '.ns-input-text', function(){
			var self = $(this);
			self.addClass('ng-focusin');
		});
		$element.on('focusout', '.ns-input-text', function(){
			var self = $(this);
			self.removeClass('ng-focusin');
		});
		//爱好
		var hobbies = [];
		$scope.hobbies = '';
		$scope.$watch('b', function(to, from){
			main(to, 0);
		});
		$scope.$watch('c', function(to, from){
			main(to, 1);
		});
		$scope.$watch('d', function(to, from){
			main(to, 2);
		});
		function main(to, key){
			if(to){
				hobbies[key] = to;
			}else{
				hobbies[key] = '';
			}
			$scope.hobbies = hobbies.filter(function(v, i){
				return v;
			}).join(',');
		}
		//select表单 初始化
		$scope.f = 'a3';
		$scope.show = function(){
			//as 在这里起作用
			$scope.g = $scope.list[2].age
		}	
		$scope.show1 = function(){
			console.log($scope.g);
		}
		//性别
		$scope.change = function(){
			console.log('text 值的改变');
		}
	});
})();
</script>
</body>
</html>