<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - medthod</title>
<link href="/assets/css/globe.css" rel="stylesheet" type="text/css">
<!-- angularJS脚本引用 -->
<script src="/assets/common/jquery.js"></script>
<script src="angular-1.0.1.min.js"></script>
<!-- /angularJS脚本引用 -->
</head>
<body ng-controller="parentParentCtrl">
<div ng-controller="parentCtrl">
	<div ng-controller="testCtrl">
		<input type="text" ng-model="data.name" />
		<a href="javascript:" ng-click="clickMe()">点击我</a>
		<div ng-controller="childCtrl">
			<div ng-controller="childChildCtrl"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});
	//自身控制器
	app.controller('testCtrl', function($scope){
		
		//变量
		var data = $scope.data = {
			name: '小明'
		};
		var arr = $scope.arr = [
			'小红',
			'小小'
		];

		//$scope.$watch【观察者】
		$scope.$watch('arr[0]', function(t, f){
			console.log(arguments);
		});

		//$scope.$apply【作用域中执行】
		// setTimeout(function(){
		// 	$scope.$apply(function(){
		// 		data.name = '小红';
		// 	});
		// }, 1000);


		//$scope.$broadcast【向子级controller传递event，data，相当于事件捕获】
		//$scope.$emit【向父级controller传递event，data，相当于事件冒泡】
		//$scope.$on【事件接收器】
		$scope.clickMe = function(){
			$scope.$emit('aaa', '偶是textCtrl-a');
			$scope.$broadcast('bbb', '偶是textCtrl-b');
		}

		$scope.$on('aaa', function(){
			console.log(arguments, 0);
		});
		$scope.$on('bbb', function(){
			console.log(arguments, 0);
		});
		//可以监听【销毁】事件
		$scope.$on('$destroy', function(){
			console.log('destroy');
		});
		//$scope.$destroy【事件接收器】
		// $scope.$destroy();

		//$scope.$digest【更新】
		// http://blog.csdn.net/dm_vincent/article/details/38705099
		setTimeout(function(){
			data.name = '小红';
			$scope.$digest();
		}, 1000);

	});
	//父级控制器
	app.controller('parentCtrl', function($scope){
		//$scope.$on【事件接收器】
		$scope.$on('aaa', function(e, data){
			console.log(arguments, 'p1');
		});
	});
	//父父级控制器
	app.controller('parentParentCtrl', function($scope){
		$scope.$on('aaa', function(e, data){
			console.log(arguments, 'p2');
		});
	});
	//子级控制器
	app.controller('childCtrl', function($scope){
		$scope.$on('bbb', function(e, data){
			console.log(arguments, 'c1');
		});
	});
	//子子级控制器
	app.controller('childChildCtrl', function($scope){
		$scope.$on('bbb', function(e, data){
			console.log(arguments, 'c2');
		});
	});


})();
</script>
</body>
</html>