<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit"><!-- 360浏览器切换内核 webkit | ie-comp[IE6/7]? | ie-stand[IE8910]? -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"><!-- 手机头部设置 -->
<meta name="description" content="" />
<meta name="keywords" content=""  />
<title>angularJS - repeat</title>
<link href="/assets/css/globe.css" rel="stylesheet" type="text/css">
<!-- angularJS脚本引用 -->
<script src="/assets/common/jquery.js"></script>
<script src="angular-1.0.1.min.js"></script>
<!-- /angularJS脚本引用 -->
</head>
<body class="fn-color-666">
<div ng-controller="testCtrl">
	<ul ng-init="a = [4,3,2,1]">
		<li ng-repeat="num in a" ng-class="cls" ng-class-odd="'fn-background-color-F00'" ng-class-even="'fn-background-color-000'">
			number: {{$index}} , {{num}} , {{$first}}, {{$middle}} , {{$last}}
		</li>
	</ul>

	<div ng-init="b=2">
	    <ul ng-switch on="b">
			<li ng-switch-when="1">1</li>
			<li ng-switch-when="2">2</li>
			<li ng-switch-default>other</li>
	    </ul>
	</div>
	<img src="" ng-src="http://www.baidu.com/img/bdlogo.png" alt="" width="270" />
	<a href="" ng-href="http://www.baidu.com">百度</a>
	<input type="checkbox" ng-checked="true"  />
	<select name="" id="" ng-multiple="true" >
		<option value="red">红色</option>
		<option value="blud" ng-selected="true">绿色</option>
	</select>
	<input type="text" value="123"  ng-model="myData"/>
	<input type="text" value="123" ng-model="myData" />
</div>
<script type="text/javascript">
;(function(){
	var app = angular.module('myApp', [], function(){
		console.log('RUN!!');
	});
	app.controller('testCtrl', function($scope){
		$scope.cls = 'fn-color-FFF';
		$scope.myData = 'hii';
	});
})();
</script>
</body>
</html>