@charset "utf-8";
/*reset*/
body{cursor:default;-webkit-text-size-adjust:none;font-size:12px;/*font-family:Tahoma, Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif;*//*background:#FFF;*/}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;outline:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal;font-style:normal;text-align:left;}
strong{font-style:normal;}
ol,ul,li{list-style:none outside none;}
caption{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
q:before,q:after{content:'';}
abbr,acronym{border:0;} 
a{outline:none;cursor:pointer;*outline:expression(this.hideFocus=true);text-decoration:none;}
/*img,object{vertical-align:top;}*/
textarea,input,select{outline:none;*outline:expression(this.hideFocus=true);font-size:12px;/*font-family:Tahoma, Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif;*/}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}
/** 去掉safari浏览器上表单的自带样式 */
/*input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="number"],button,select{-webkit-appearance:none;}*/
/*全局：特殊*/
/*body{background:#F2F2F2;}*/
body{padding-left:calc(100vw - 100%);}
.lc-header,
.lc-nav,
.lc-footer,
.lhome-main-op{margin-left:calc(50% - 50vw);padding-left:calc(50vw - 50%);}
a{color:#666;}
a:focus{outline:none;text-decoration:none;}
.fn-clear{zoom:1;}
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:"1";clear:both;height:0;}
.fn-left{float:left;_display:inline;}
.fn-right{float:right;_display:inline;}
.fn-margin-center{margin:0 auto;}
.fn-ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal;}
.fn-hide{display:none;}
/*基类*/
.fn-input-text,
.fn-input-text-small{border:1px solid #CCC;height:16px;line-height:16px;padding:9px;color:#666;box-sizing:content-box;}
.fn-input-text-small{padding:6px 9px;}
/*基类*/
.fn-input-button,
.fn-input-button-small,
.fn-input-button-org,
.fn-input-button-gray,
.fn-input-button-darkgray,
.fn-input-button-gray-small,
.fn-input-button-disabled{display:inline-block;text-align:center;line-height:34px;font-size:14px;font-weight:bold;color:#FFF;background:#047dc6;border:none;border-radius:3px;cursor:pointer;}
.fn-input-button:hover,
.fn-input-button:hover,
.fn-input-button-small:hover,
.fn-input-button-org:hover,
.fn-input-button-disabled:hover{text-decoration:none;background:#047dc6;color:#FFF;}
.fn-input-button-org:hover{background:#f6972c;}
.fn-input-button-disabled:hover{background:#CCC;cursor:not-allowed}
/*子类*/
.fn-input-button-small{height:28px;line-height:28px;}
.fn-input-button:active,
.fn-input-button-small:active{background:#036099}
.fn-input-button:focus,
.fn-input-button-small:focus{color:#FFF;}
.fn-input-button-org{background:#f6972c}
.fn-input-button-org:active{background:#F70;}
.fn-input-button-org:focus{color:#FFF;}
.fn-input-button-darkgray{background:#CCCCCC;color:#666666}
.fn-input-button-darkgray:hover{text-decoration:none;}
.fn-input-button-gray,
.fn-input-button-gray-small{height:30px;line-height:30px;border-radius:0;background:#f2f2f2;border:1px solid #CCC;color:#666;}
.fn-input-button-gray:active,
.fn-input-button-gray-small:active{background:#EEE;}
.fn-input-button-gray-small{font-size:12px;font-weight:normal;line-height:28px;}
.fn-input-button-disabled{background:#CCC;}
.fn-input-button-disabled:active{background:#BBB;}
.fn-input-button-disabled:focus{color:#FFF;}
.fn-textarea{border:1px solid #CCC;resize:none;padding:9px;line-height:18px;}
.fn-select{border:1px solid #CCC;height:30px;line-height:28px;padding:0 9px;}
/*table基类*/
.fn-table,
.fn-table-text,
.fn-table-data,
.fn-table-input,
.fn-table-input-middle,
.fn-table-input-small,
.fn-table-intro,
.fn-table-border{table-layout:fixed;;word-wrap:break-word;word-break:break-all;white-space:normal;}
/*table子类*/
.fn-table-text td{line-height:18px;padding:6px;}
/*table子类*/
.fn-table-data th,
.fn-table-data td{line-height:18px;padding:6px 9px}
.fn-table-data thead th{font-weight:bold;background:#f2f2f2;border:1px solid #FFF;}
.fn-table-data tbody td{border-bottom:1px dashed #ebebeb;}
/*table子类*/
.fn-table-intro th{line-height:18px;padding:6px 9px;font-weight:bold;background:#F2F2F2;}
/*table子类*/
.fn-table-border td{border:1px solid #ebebeb;padding:6px 9px;line-height:18px;}
/*table子类*/
.fn-table-input td{padding:0 3px 20px 4px;}
.fn-table-inpu-middle td{padding:0 3px 15px 4px;}
.fn-table-input-small td{padding:0 3px 10px 4px;}
.fn-table-input .child-last td,
.fn-table-inpu-middle .child-last td,
.fn-table-input-small .child-last td{padding-bottom:0;}
/*全局：度量*/
.fn-BGC-FFF{background-color:#FFF;}
.fn-BGC-fafafa{background-color:#fafafa;}
.fn-BGC-f2f2f2{background-color:#f2f2f2;}
.fn-BBS-ebebeb{border-bottom:1px solid #ebebeb;}
.fn-BLS-ebebeb{border-left:1px solid #ebebeb;}
.fn-BRS-ebebeb{border-right:1px solid #ebebeb;}
.fn-BS-ebebeb{border:1px solid #ebebeb;}
.fn-color-333{color:#333;}
.fn-color-666{color:#666;}
.fn-color-999{color:#999;}
.fn-color-F00{color:#F00;}
.fn-color-F60{color:#F60;}
.fn-color-047DC6{color:#047DC6;}
.fn-FS12{font-size:12px;}
.fn-FS14{font-size:14px;}
.fn-FS16{font-size:16px;}
.fn-FS18{font-size:18px;}
.fn-FS20{font-size:20px;}
.fn-FS24{font-size:24px;}
.fn-FFK{font-family:"楷体"}
.fn-FFS{font-family:"宋体"}
.fn-FWB{font-weight:bold;}
.fn-FWN{font-weight:normal;}
.fn-H60{height:60px;}
.fn-H56{height:56px;}
.fn-H110{height:110px;}
.fn-H145{height:145px;}
.fn-H185{height:185px;}
.fn-H400{height:400px;}
.fn-LH15em{line-height:1.5em;}
.fn-LH18{line-height:18px;}
.fn-LH20{line-height:20px;}
.fn-LH22{line-height:22px;}
.fn-LH22{line-height:22px;}
.fn-LH24{line-height:24px;}
.fn-LH25{line-height:25px;}
.fn-LH28{line-height:28px;}
.fn-LH30{line-height:30px;}
.fn-LH36{line-height:36px;}
.fn-LH40{line-height:50px;}
.fn-LH46{line-height:46px;}
.fn-LH50{line-height:50px;}
.fn-LH80{line-height:80px;}
.fn-MT6D{margin-top:-6px;}
.fn-MT1D{margin-top:-1px;}
.fn-MT3{margin-top:3px;}
.fn-MT5{margin-top:5px;}
.fn-MT6{margin-top:6px;}
.fn-MT10{margin-top:10px;}
.fn-MT15{margin-top:15px;}
.fn-MT20{margin-top:20px;}
.fn-MT30{margin-top:30px;}
.fn-MT40{margin-top:40px;}
.fn-MT50{margin-top:50px;}
.fn-ML10{margin-left:10px;}
.fn-ML15{margin-left:15px;}
.fn-ML20{margin-left:20px;}
.fn-ML25{margin-left:25px;}
.fn-ML30{margin-left:30px;}
.fn-ML40{margin-left:40px;}
.fn-MR50D{margin-right:-50px;}
.fn-MR5{margin-right:5px;}
.fn-MR10{margin-right:10px;}
.fn-MR70{margin-right:70px;}
.fn-PosRel{position:relative;}
.fn-PT10{padding-top:10px;}
.fn-PT20{padding-top:20px;}
.fn-PT40{padding-top:40px;}
.fn-PT60{padding-top:60px;}
.fn-PT65{padding-top:65px;}
.fn-PT300{padding-top:300px;}
.fn-PR10{padding-right:10px;}
.fn-PR20{padding-right:20px;}
.fn-PR100{padding-right:100px;}
.fn-PR150{padding-right:150px;}
.fn-PL10{padding-left:10px;}
.fn-PL20{padding-left:20px;}
.fn-PL70{padding-left:70px;}
.fn-PL150{padding-left:150px;}
.fn-PB15{padding-bottom:15px;}
.fn-PB20{padding-bottom:20px;}
.fn-PB50{padding-bottom:50px;}
.fn-PB60{padding-bottom:60px;}
.fn-PB80{padding-bottom:80px;}
.fn-TAC{text-align:center;}
.fn-TAR{text-align:right;}
.fn-TI2{text-indent:2em;}
.fn-TI1P5{text-indent:1.5em;}
.fn-TI2{text-indent:2em;}
.fn-VA1{vertical-align:1px;}
.fn-VA20{vertical-align:20px;}
.fn-VA22{vertical-align:22px;}
.fn-VA1D{vertical-align:-1px;}
.fn-VA2D{vertical-align:-2px;}
.fn-VA3D{vertical-align:-3px;}
.fn-VA4D{vertical-align:-4px;}
.fn-VA5D{vertical-align:-5px;}
.fn-VA6D{vertical-align:-6px;}
.fn-VA7D{vertical-align:-7px;}
.fn-VA10D{vertical-align:-10px;}
.fn-VATop{vertical-align:top;}
.fn-VAMiddle{vertical-align:middle;}
.fn-VisHid{visibility:hidden;}
.fn-W45P{width:45%;}
.fn-W50P{width:50%;}
.fn-W100P{width:100%;}
.fn-W80{width:80px;}
.fn-W65{width:65px;}
.fn-W90{width:90px;}
.fn-W100{width:100px;}
.fn-W140{width:140px;}
.fn-W145{width:145px;}
.fn-W180{width:180px;}
.fn-W200{width:200px;}
.fn-W220{width:220px;}
.fn-W225{width:225px;}
.fn-W300{width:300px;}
.fn-W310{width:310px;}
.fn-W320{width:320px;}
.fn-W340{width:340px;}
.fn-W380{width:380px;}
.fn-W400{width:400px;}
.fn-W410{width:410px;}
.fn-W600{width:600px;}
.fn-W670{width:670px;}
.fn-W740{width:740px;}
.fn-W780{width:780px;}
.fn-W1000{width:1000px;}
/*业务：全局*/
/*头部*/
.global-head .child-line{display:inline-block;width:1px;height:25px;background:#CCC;vertical-align:14px;margin:3px 5px 0 10px;}
.global-nav .child-nav{margin: 0 auto;float:left;color:#333;line-height: 18px;}
.global-nav .child-nav>li{float: left;position: relative;display: block;}
.global-nav .child-nav>li>a{font-size: 14px;line-height:20px;font-weight: bold;padding: 10px 20px;position: relative;display: block;background-color: transparent;}
.global-nav .child-nav>li>a:focus, .global-nav .child-nav>li>a:hover, .global-nav .child-nav>li.active>a{background: #036098;}

/*标题*/
/*tab基类*/
.global-tab,
.global-tab-red{line-height:32px;font-size:14px;color:#333;font-weight:bold;}
.global-tab i,
.global-tab-red i{float:left;width:6px;height:14px;margin:9px 10px 0 1px;background:#047dc6}
.global-tab .child-tip,
.global-tab-red .child-tip{font-weight:normal;color:#999;background:#fff3e1;font-size:12px;padding:5px;}
/*tab子类*/
.global-tab .child-editor{float:right;font-size:12px;font-weight:normal;margin-top:20px;line-height:16px;}
/*tab子类*/
.global-tab-red{color:#F00;}
.global-tab-red i{background:#F00;}
/*链接*/
/*link基类*/
.global-link,
.global-link-red,
.global-link-gray{color:#047dc6;}
.global-link:hover,
.global-link-red:hover,
.global-link-gray:hover{color:#047dc6;text-decoration:underline;}
/*link子类*/
.global-link-red{color:#F00;}
.global-link-red:hover{color:#F00;}
/*link子类*/
.global-link-gray{color:#666;}
.global-link-gray:hover{color:#666;}
.global-link-gray:focus{color:#666;}
/*必填*/
.global-require{display:inline-block;width:16px;height:16px;overflow:hidden;color:#F00;}
/*进度*/
.global-progress{border:1px solid #CCC;color:#333;background:#f2f2f2;}
.global-progress li{float:left;width:12.5%;text-align:center;height:38px;line-height:38px;position:relative;}
.global-progress .child-now{background:#047dc6;color:#FFF;margin:-1px;padding:1px;box-sizing:content-box;}
.global-progress .child-san{position:absolute;width:16px;height:100%;background:url("../img/main.png") no-repeat 0 -64px;right:0;top:0;}
.global-progress .child-now .child-san{background-position:-16px -64px}
.global-progress .child-pass{background:#999;color:#FFF;margin:-1px;padding:1px;box-sizing:content-box;}
.global-progress .child-pass .child-san{background:#999;}
.global-progress .child-now .child-tra{position:absolute;width:16px;height:100%;background:url("../img/main.png") no-repeat -32px -64px;left:0;top:0;}
/*global*/
.global-trial-progress{height:80px;position:relative;}
.global-trial-progress .child-baseline{position:absolute;width:100%;height:3px;background:#dfdfdf;top:50px;left:0;}
.global-trial-progress ul{padding-left:30px;}
.global-trial-progress li{float:left;width:186px;height:80px;position:relative;z-index:1;}
.global-trial-progress .child-text{position:absolute;left:20px;top:12px;line-height:30px;color:#CCC;}
.global-trial-progress .child-line{position:absolute;width:100%;top:50px;height:3px;}
.global-trial-progress .child-icon{position:absolute;width:24px;height:24px;top:38px;background:url("../img/main.png") no-repeat 0 -208px #FFF;}
.global-trial-progress .child-now{background:#FFF;}
.global-trial-progress .child-now .child-text{display:block;color:#666;}
.global-trial-progress .child-now .child-line{border-bottom:3px dotted #047dc6;}
.global-trial-progress .child-now .child-icon{background-position:-32px -208px;}
.global-trial-progress .child-pas{background:#FFF;}
.global-trial-progress .child-pas .child-text{display:block;color:#666}
.global-trial-progress .child-pas .child-line{border-bottom:3px solid #047dc6;}
.global-trial-progress .child-pas .child-icon{background-position:-64px -208px;}
/*提醒*/
.global-remind{background:#F2F2F2;padding:15px 20px 0 20px;}
.global-remind h2{line-height:24px;color:#333;font-size:14px;font-weight:bold;}
.global-remind p{line-height:28px;margin-top:10px;}
/*开庭步奏*/
.global-text-highlight{font-family:'Arial Negreta', 'Arial';font-weight:700;font-size:12px;color:#FF9900;}
.global-gray-bottom-line{border-bottom:3px solid #DFDFDF;width:a;padding-bottom:15px;float:left;padding-right:1px;}
.global-blue-circle-checked{background:url("../img/courttrial3.png") no-repeat; width:20px;height:50px;float:left;}
.global-blue-circle-unchecked{background:url("../img/courttrial2.png") no-repeat; width:20px;height:50px;float:left;}
.global-gray-circle{background:url("../img/courttrial1.png") no-repeat;width:20px;height:50px;float:left;}
.global-blue-bottom-solid-line{border-bottom:3px solid #047dc6; margin-left:2px; margin-right:1px; padding-bottom:15px; float:left; width:160px;}
.global-gray-bottom-solid-line{border-bottom:3px solid #DFDFDF; margin-left:2px; margin-right:1px; padding-bottom:15px; float:left; width:160px;}
.global-blue-bottom-dashed-line{border-bottom:3px dotted #047dc6; margin-left:2px; margin-right:1px; padding-bottom:15px; float:left; width:160px;}
.global-session{font-size:14px;line-height:38px;border-bottom:1px solid #e4e4e4;font-weight:bold;}
.global-session li{float:left;padding:0 5px;margin-right:40px;height:38px;overflow:hidden;box-sizing:content-box;}
.global-session .child-now{border-bottom:3px solid #047dc6;color:#047dc6;margin-bottom:-1px;height:35px;}
.global-session .child-pass{color:#999;}
.global-legal-base-case p{text-indent:1.5em}
.global-legal-base-case .hiddendiv{display: none;}
/*图标*/
.icon-editor,
.icon-add,
.icon-det,
.icon-success{display:inline-block;width:16px;height:16px;background:url("../img/main.png") no-repeat 0 0;}
.icon-editor{background-position:-48px -32px;}
.icon-add{background-position:-64px -32px;}
.icon-det{background-position:-64px -48px;}
.icon-success{width:24px;height:24px;background-position:-48px -64px ;}
/*业务：案件查询*/
.case-search-enter *{float:left;}
.case-search-enter label{font-size:16px;font-weight:bold;line-height:35px;color:#333;}
.case-search-enter .child-button{margin-top:1px;}
.case-search-query ul{border:1px solid #ebebeb;overflow:hidden;}
.case-search-query li{border-bottom:1px dashed #ebebeb;line-height:18px;padding:5px 0 5px 190px;margin-bottom:-1px;}
.case-search-query .child-title{color:#333;float:left;margin-left:-170px;padding:5px 0;}
.case-search-query .child-labelbox.child-first{width:80px;margin-left:-90px;}
.case-search-query .child-radio{display:none;}
.case-search-query .child-labelbox{float:left;width:180px;padding:5px;overflow:hidden;}
.case-search-query label{float:left;padding:0 10px;cursor:pointer;font-weight:normal;margin:0;}
.case-search-query label:hover,
.case-search-query label.child-focus{background:#047dc6;color:#FFF;}
.case-search-totle{height:45px;border-bottom:1px solid #ebebeb;}
.case-search-totle strong{color:#ed2828;font-size:18px;vertical-align:-2px;}
.case-search-totle .child-num{line-height:45px;float:left;}
.case-search-totle .child-sort{float:right;padding-top:14px;line-height:16px;}
.case-search-totle .child-sort a{float:left;margin-left:20px;}
.case-search-totle .child-sort a:hover,
.case-search-totle .child-sort a.child-focus{color:#047dc6;}
.case-search-totle .child-sort i{display:inline-block;width:16px;height:16px;background:url("../img/main.png") no-repeat 0 0;vertical-align:top;margin-right:5px;}
/*ICON：默认*/
.case-search-totle .child-sort .child-default{background-position:0 0;}
.case-search-totle .child-sort a:hover .child-default,
.case-search-totle .child-sort a.child-focus .child-default{background-position:0 -16px;}
/*ICON：索赔金额*/
.case-search-totle .child-sort .child-money{background-position:-16px 0;}
.case-search-totle .child-sort a:hover .child-money,
.case-search-totle .child-sort a.child-focus .child-money{background-position:-16px -16px;}
/*ICON：立案时间*/
.case-search-totle .child-sort .child-time{background-position:-32px 0;}
.case-search-totle .child-sort a:hover .child-time,
.case-search-totle .child-sort a.child-focus .child-time{background-position:-32px -16px;}
/*ICON：调解数量*/
.case-search-totle .child-sort .child-number{background-position:0 -32px;width:20px;}
.case-search-totle .child-sort a:hover .child-number,
.case-search-totle .child-sort a.child-focus .child-number{background-position:0 -48px;}
/*ICON：好评*/
.case-search-totle .child-sort .child-good{background-position:-48px 0;}
.case-search-totle .child-sort a:hover .child-good,
.case-search-totle .child-sort a.child-focus .child-good{background-position:-48px -16px;}
/*ICON：成功率*/
.case-search-totle .child-sort .child-win{background-position:-64px 0;}
.case-search-totle .child-sort a:hover .child-win,
.case-search-totle .child-sort a.child-focus .child-win{background-position:-64px -16px;}
.case-search-empty{margin-top:65px;padding-bottom:80px;}
.case-search-empty .child-person{width:155px;height:155px;background:url("../img/main.png") no-repeat -80px 0;margin:0 auto;}
.case-search-list li{padding:15px 0 20px 0;border-bottom:1px solid #ebebeb;}
.case-search-list .child-status{margin-left:25px;font-style:normal;color:#FFF;background:#F90;display:inline-block;padding:0 3px;border-radius:3px;line-height:18px;}
/*业务：案件查询*/
.case-details-accused li{margin-right:5%;}
.case-details-accused .vertical-line{position:absolute;float:left;left:49%;margin-top:10px;height:194px;border-left:1px solid  #ebebeb;}
/*业务：调解员*/
.mediator-list-person{padding-bottom:20px;overflow:hidden;}
.mediator-list-person ul{margin-right:-20px;}
.mediator-list-person li{float:left;border:1px solid #ebebeb;width:160px;height:315px;padding:10px 30px 0 30px;margin:20px 23px 0 0;box-sizing:content-box;}
.mediator-list-person h2{font-size:14px;font-weight:bold;height:36px;line-height:36px;overflow:hidden;}
.mediator-list-person p{height:22px;line-height:22px;}
/*业务：调解员详情*/
.mediator-detail-assess .child-person{float:left;width:95px;}
.mediator-detail-assess li{padding:15px 0 5px 0;border-bottom:1px dashed #ebebeb;}
.mediator-detail-assess h2{line-height:24px;font-weight:bold;}
.mediator-detail-assess p{line-height:18px;padding:3px 0;}
/*业务：帮助中心*/
.help-center-list ul{overflow:hidden;}
.help-center-list li{padding:15px 0 25px 0;border-bottom:1px dashed #ebebeb;margin-bottom:-1px;}
.help-center-list p{line-height:20px;margin-top:10px;}
.help-center-menu{width:200px;padding-top:15px;margin-top:15px;}
.help-center-menu.child-fixed{position:fixed;top:0;left:50%;margin-left:280px;}
.help-center-menu a{display:block;line-height:22px;padding:6px 10px;background:#e9e7e8;border-radius:5px;color:#333;margin-top:20px;position:relative;}
.help-center-menu a:hover{text-decoration:none;color:#FFF;background:#047dc6;}
.help-center-menu .child-num{width:20px;height:20px;border-radius:10px;line-height:20px;text-align:center;position:absolute;top:7px;left:-37px;background:#e9e7e8;font-style:normal;}
.help-center-menu a:hover .child-num{background:#047dc6;}
.help-center-menu .child-san{position:absolute;width:16px;height:16px;background:url("../img/main.png") no-repeat -32px -32px;top:9px;left:-16px;}
.help-center-menu a:hover .child-san{background-position:-32px -48px;}
.help-center-line{position:absolute;height:100%;width:1px;background:#ebebeb;right:247px;}
.help-center-line .child-top,
.help-center-line .child-bot{position:absolute;top:0;width:1px;height:20px;left:0;background:#FFF;}
.help-center-line .child-bot{top:auto;bottom:0;}
/*业务：诉讼流程*/
.updates-info-type{overflow:hidden;}
.updates-info-type li{float:left;width:130px;margin:30px 62px 0 0;position:relative;height:130px;background:#f2f2f2;}
.updates-info-type .child-box{position:absolute;display:none;top:0;left:0;width:130px;height:100%;background:rgba(0,0,0,.4);}
.updates-info-type .child-img{text-align:center;padding-top:25px;}
.updates-info-type .child-txt{line-height:25px;color:#CCC;margin-top:10px;}
.updates-info-type .child-btn{position:absolute;width:54px;height:22px;top:50%;left:50%;margin:-11px 0 0 -27px;background:url("../img/main.png") no-repeat 0 -112px;}
.updates-info-type .child-btn-chosed{position:absolute;width:60px;height:60px;top:50%;left:50%;margin:-30px 0 0 -30px;background:url("../img/main.png") no-repeat 0 -144px;}
.updates-info-type .trigger-hover .child-txt{color:#F90;}
.updates-info-type .tigger-show .child-box{display:block;}
.updates-info-type .tigger-show .child-btn{display:block;}
.updates-info-type .tigger-show .child-btn-chosed{display:none;}
.updates-info-type .trigger-chosed .child-box{display:block;}
.updates-info-type .trigger-chosed .child-btn{display:none;}
.updates-info-type .trigger-chosed .child-btn-chosed{display:block;}
/*业务：案件受理通知书（模板）*/
.acceptance-notice-tpl{border:1px solid #ebebeb;padding:10px 20px 20px 20px;line-height:20px;}
.acceptance-notice-tpl h1{text-align:center;font-size:28px;color:#333;line-height:40px;font-weight: 200;}
.acceptance-notice-tpl h2{text-align:center;font-size:18px;color:#333;line-height:40px;font-weight: 200;}
.acceptance-notice-tpl h3{text-align:right;font-size:13px;}
.acceptance-notice-tpl p{font-size:13px;font-weight: 200;}
/*业务：404*/
.sys404-parent{position:absolute;width:100%;height:100%;background:#FFF;top:0;left:0;z-index:100;}
.sys404{position:absolute;width:1000px;height:400px;top:50%;left:50%;margin:-200px 0 0 -500px;background:#FFF;box-shadow:0 0 15px rgba(0,0,0,.2);}
.sys404 .child-line{position:absolute;width:0;height:280px;top:50%;margin-top:-140px;left:50%;border-left:1px dotted #ebebeb;}
.sys404 .child-text{position:absolute;top:120px;left:600px;}
.sys404 .child-text-404{line-height:80px;font-size:88px;font-family:'Arial Negreta', Arial;color:#F60;font-weight:bold;}
.sys404 .child-img{position:absolute;width:280px;height:280px;top:60px;left:110px;background:url("../img/404.png") no-repeat 0 0;}
/*业务：登陆*/
.login{position:absolute;width:380px;height:380px;overflow:hidden;top:50%;left:50%;margin:-190px 0 0 -190px;box-shadow:0 0 15px rgba(0,0,0,.2);}
.login-iframe{box-shadow:0 0 15px rgba(0,0,0,.2);background:#FFF;}
.login-iframe-close{position:absolute;right:5px;top:0;}
.login-iframe-close:hover{text-decoration:none;}
.global-login-page-logo .img-taobao{background:url("../img/u18_taobao.png") no-repeat ;height:22px;width:47px; background-size:47px 22px;}
.global-login-page-logo .img-tianmao{background:url("../img/u20_tianmao.png") no-repeat;height:13px;width:66px;background-size:66px 13px;}
.global-login-page-logo .img-juhuasuan{background:url("../img/u22_juhuasuan.png") no-repeat;height:15px;width:47px;background-size:47px 15px;}
.global-login-page-logo .img-alibaba{background:url("../img/u26_alibaba.png") no-repeat;height:19px;width:51px;background-size:51px 19px;}
.global-login-page-logo .img-aliexpress{background:url("../img/u24_aliexpress.png") no-repeat;height:17px;width:52px;background-size:52px 17px;}
.global-login-page-logo .img-jingdong{background:url("../img/u28_jingdong.png") no-repeat;height:17px;width:55px;background-size:55px 17px;}
.global-login-page-logo .img-dangdang{background:url("../img/u30_dangdang.png") no-repeat;height:17px;width:57px;background-size:57px 17px;}
.global-login-page-logo .img-tengxun{background:url("../img/u42_tengxun.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
.global-login-page-logo .img-onehaodian{background:url("../img/u34_onehaodian.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
.global-login-page-logo .img-mogujie{background:url("../img/u36_mogujie.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
.global-login-page-logo .img-kuajingtao{background:url("../img/u38_kuajingtao.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
.global-login-page-logo .img-suning{background:url("../img/u40_suning.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
.global-login-page-logo .img-yamaxun{background:url("../img/u32_yamaxun.png") no-repeat;height:22px;width:47px;background-size:47px 22px;}
/*业务：登陆成功*/
.login-success{position:absolute;width:200px;height:100px;line-height:100px;overflow:hidden;top:50%;left:50%;margin:-50px 0 0 -100px;}
/*业务：暂未开发*/
.sys-pilot .child-img{background-image:url("../img/pilot.png");}
/*业务：个人中兴*/
.center-image{height:135px;}
/*顶级业务*/
/*侵占：kuma*/
.lassen .kuma-form-item{padding:0;}
.lassen .kuma-input{margin-right:0;}
.lassen .kuma-form-explain{display:none;height:30px;overflow:hidden;}
.lassen .kuma-form-item-error .kuma-form-explain{display:block;}
/*侵占：bootstrap*/
.lassen input[type=checkbox],.lassen input[type=radio]{margin:0;}
.lassen label{display:inline;max-width:auto;margin-bottom:0;font-weight:normal;}
/*pagination 从bootstrap中复制*/
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px;}
.pagination > li{display:inline;}
.pagination > li > a, .pagination > li > span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.42857143;color:#337ab7;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination > li:first-child > a,
.pagination > li:first-child > span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{color:#23527c;background-color:#eee;border-color:#ddd;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{z-index:2;color:#fff;cursor:default;background-color:#337ab7;border-color:#337ab7;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd;}
.pagination-lg > li > a,
.pagination-lg > li > span{padding:10px 16px;font-size:18px;}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span{border-top-left-radius:6px;border-bottom-left-radius:6px;}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span{border-top-right-radius:6px;border-bottom-right-radius:6px;}
.pagination-sm > li > a,
.pagination-sm > li > span{padding:5px 10px;font-size:12px;}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span{border-top-right-radius:3px;border-bottom-right-radius:3px;}
/*侵占：bootstrap*/
.pagination-lg>li>a, .pagination-lg>li>span{padding:7px 16px;}
.pagination-lg .disabled a{background:#eee;}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span{border-radius:0;}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span{border-radius:0;}
.pagination li a{color:#666;font-size:12px;}
.pagination-tool{margin:20px 212px 20px 10px;}
.pagination-tool, .pagination{margin-bottom:0;}
.pagination-tool input{width:30px;height:30px;outline:none;border:1px solid #eee;}
.pagination-tool > span:first-child{margin-right:15px;}
.pagination-tool button{color:#fff;margin-left:5px;padding:6px 10px;background:#047DC6;outline:none;border:0;}