@charset "utf-8";
/*侵占bootstrap*/
body{font-family:Tahoma, Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif;font-size:12px;}
*{outline:none !important;}

/*下拉*/
.btn-group-sm>.dropdown-menu{font-size:12px;}

/*单选复选*/
input[type=checkbox], input[type=radio]{vertical-align:-2px;}

/*标签页*/
.nav-tabs>li>a{padding:5px 15px 6px;}

/*表格*/
input[type=checkbox], input[type=radio]{margin-top:2px;}

/*表格*/
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-width:1px;}