.limit-form{
	display:inline-block;
	position:relative;
	background:#FFF;
}
.less-placeholder{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	color:#999;
	line-height:16px;
	padding:7px;
	padding-right:16px;
}
.less-clear{
	position:absolute;
	z-index:1;
	width:15px;
	height:16px;
	line-height:14px;
	text-align:center;
	right:1px;
	top:50%;
	margin-top:-8px;
	color:#CCC;
	&:hover{
		color:#666;
	}
}
.limit-form-text{
	border:1px solid #CCC;
	padding:6px;
	padding-right:15px;
	background:#FFF;
	input{
		border:0;
		height:16px;
		line-height:16px;
		color:#666;
		font-size:1em;
		width:100%;
		position:relative;
		z-index:2;
		background:none;
	}
	.ch-clear{
		.less-clear;
	}
	.ch-placeholder{
		.less-placeholder;
	}
}
.limit-form-password{
	.limit-form-text;
	padding-right:28px;
	.ch-container-eye{
		position:absolute;
		z-index:2;
		width:10px;
		height:10px;
		top:50%;
		margin-top:-5px;
		right:15px;
		background:#FFF;
		text-align:center;
		border:1px solid #CCC;
		border-radius:100px;
		cursor:pointer;
		&:hover{
			.ch-eye{
				background:#666;
			}
		}
	}
	.ch-eye{
		display:inline-block;
		width:6px;
		height:6px;
		border-radius:6px;
		background:#CCC;
		margin-top:1px;

	}
}
.limit-form-textarea{
	border:1px solid #CCC;
	padding:6px;
	background:#FFF;
	.ch-placeholder{
		.less-placeholder;
	}
	textarea{
		background:transparent;
	}
}
.limit-form-button{
	input{
		border:1px solid #CCC;
		background:#F2F2F2;
		font-size:12px;
		padding:0 10px;
		height:30px;
		line-height:28px;
		width:100%;
		color:#666;
		&:active{
			background:#DDD;
			border-color:#BBB;
		}
	}
}
.limit-form-file{
	.limit-form-button;
}
.limit-form-calendar{
	.ch-placeholder{
		.less-placeholder;
	}
	.ch-clear{
		.less-clear;
	}
}
.limit-form{
	.ch-placeholder{
		.less-placeholder;
	}
	input[type="text"]{
		background:transparent;
	}
}
/*禁止*/
.limit-form-disabled{
	.limit-form-text,.limit-form-password,.limit-form-textarea{
		background:#F2F2F2;
		*{
			cursor:not-allowed;
		}
	}
	.limit-form-submit,.limit-form-reset,.limit-form-button{
		input{
			color:#999;
			cursor:not-allowed;
		}
	}
	.limit-form-select{
		background:#F2F2F2;
		color:#999;
		cursor:not-allowed;
	}
}
/*焦点*/
.limit-form-focus{
	&.limit-form{
		z-index:2;
	}
	.limit-form-text,.limit-form-password,.limit-form-textarea,.mod-calendar-input,.mod-calendar-range{
		border-color:#4285f4;
		box-shadow:0 0 3px rgba(66, 133, 244, .5);
		.ch-clear{
			color:#4285f4;
		}
		.ch-placeholder{
			display:none;
		}
	}
	.limit-form-password{
		.ch-container-eye{
			border-color:#4285f4;
			&:hover{
				.ch-eye{
					background:#4285f4;
				}
			}
		}
		.ch-eye{
			background:#4285f4;
		}
	}
	.limit-form-button,.limit-form-file{
		button{
			&:after{
				position:absolute;
				content:'';
				width:100%;
				height:100%;
				top:0;
				left:0;
				border-radius:2px;
				border:1px solid #FFF;
			}
		}	
	}
}
/*错误*/
.limit-form-error{
	.limit-form-text,.limit-form-password,.limit-form-textarea,.mod-calendar-input,.mod-calendar-range{
		border-color:#F00;
		box-shadow:0 0 3px rgba(255, 0, 0, .5);
		.ch-clear{
			color:#F00;
		}
		.ch-placeholder{
			color:#F00;
		}
	}
	.limit-form-calendar{
		.ch-placeholder{
			color:#F00;
		}
		.mod-calendar{
			border-color:#F00;
			.limitIcon{
				color:#F00;
				&:focus,&:hover{
					text-shadow:0 0 3px rgba(255, 0, 0, .5);
				}
			}
			.calendar-main{
				li{
					&:hover,&.active{
						border-color:#F00;
						color:#F00 !important;
					}
					&.today{
						color:#F00 !important;
					}
					&.active{
						background:#F00;
						color:#FFF !important;
					}
				}
			} 
		}
	}
	.limit-form-password{
		.ch-container-eye{
			border-color:#F00;
			&:hover{
				.ch-eye{
					background:#F00;
				}
			}
		}
		.ch-eye{
			background:#F00;
		}
	}
	.limit-form-select.mod-select{
		.select-trigger,.select-container{
			border-color:#F00;
			box-shadow:0 0 3px rgba(255, 0, 0, .5);
		}
		&:before{
			border-color:#F00;
		}
		li{
			&.active{
				background:#F00;
				border-color:#F00;
			}
			&:hover{
				border-color:#F00;
			}
		}
		.select-trigger{
			.select-trigger-san{
				border-top-color:#F00;
			}
		}
	}
	.limit-form-multiple{
		.ch-placeholder{
			color:#F00;
		}
		.mod-multiple{
			.multiple-trigger,.multiple-content{
				border-color:#F00;
				box-shadow:0 0 3px rgba(255, 0, 0, .5);
			}
			.multiple-trigger{
				.multiple-trigger-san{
					border-top-color:#F00;
				}
			}
			&:before{
				border-color:#F00;
			}
			li{
				&.active{
					background:#F00;
					border-color:#F00;
				}
				&.focus{
					border-color:#F00;
				}
			}
		}

	}
	.ch-error-info{
		position:absolute;
		height:20px;
		line-height:18px;
		border:1px solid #F00;
		box-shadow:0 0 3px rgba(255, 0, 0, .5);
		top:-10px;
		right:3px;
		color:#F00;
		background:#FFF;
		padding:0 5px;
		z-index:1;
	}
}















