.court-detail {background:#FFF;padding:20px;color:#666;}
/*法庭名称*/
.court-name-wrap {margin-top:10px;}
.court-name {font-weight:bold;font-size:16px;color:#333;}
.court-name:before {content:"";display:inline-block;width:8px;height:16px;background:#047dc6;vertical-align:middle;margin-right:10px;}
/*案件数量*/
.suit-num {font-size:14px;color:#666;line-height:1;}
.suit-num span {font-size:24px;color:#EC2828;line-height:1;}
/*案件状态*/
.lc-condition-wrap {border-bottom:1px solid #eee;}
.lc-condition {border:1px solid #eee;margin-top:30px;margin-bottom:20px;width:100%;table-layout:fixed;}
.lc-condition td {border-bottom:1px dashed #eee;padding:10px 0;}
.lc-condition tr:last-child td {border-bottom:0;}
.lc-condition .condition-title {text-align:right;padding-left:10px;width:90px;padding-right:10px;vertical-align:top;}
.lc-condition td a {display:inline-block;height:20px;line-height:20px;padding:0 5px;margin-right:15px;cursor:pointer;color:#666;margin-bottom:5px;}
.lc-condition td a:hover {text-decoration:none;}
.lc-condition td a.active {background:#047dc6;color:#fff;}
.lc-result-tool {padding-bottom:15px;}
.lc-condition-wrap  .suit-total span {color:#EC2828;font-size:18px;line-height:1;}
/*排序方案*/
.sort-icon span {margin-left:15px;cursor:pointer;}
.sort-icon span.active {color:#047DC6;}
.sort-icon span:before {display:inline-block;height:12px;width:12px;vertical-align:text-top;margin-right:5px;}
.sort-icon .idefault:before {content:url(bg_court_detail/default_g.png);}
.sort-icon .idefault.active:before {content:url(bg_court_detail/default_h.png);}
.sort-icon .iamount:before {content:url(bg_court_detail/amount_g.png);}
.sort-icon .iamount.active:before {content:url(bg_court_detail/amount_h.png);}
.sort-icon .idate:before {content:url(bg_court_detail/date_g.png);}
.sort-icon .idate.active:before {content:url(bg_court_detail/date_h.png);}
/*查询结果为空*/
.result-empty {text-align:center;padding:100px 0 30px 0;display:none;}
.result-empty > div {font-size:24px;line-height:3}
.result-empty button {background:#ff9300;color:#FFF;border-color:#ff8800;padding:7px 20px;outline:none;border-radius:5px;}
.result-empty button:hover {background:#ff9900;}
/*案件详情*/
.court-list {list-style:none;margin:0;padding:0}
.court-list li {border-bottom:1px dashed #eee;padding:20px 0;position:relative;}
.court-list h6 {display:inline;font-weight:bold;}
.court-list table {margin-top:15px;}
.court-list .status {margin-left:30px;padding:2px 3px;background:#ff9300;color:#FFF;border-radius:3px;line-height:1;}
.court-list .pay-amount {position:absolute;top:20px;right:10px;}
.court-list .pay-amount span {color:#F60;}
