@charset "UTF-8";
html {
  font-size: 62.5%;
  font-family: Tahoma, Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif; }

body {
  cursor: default;
  -webkit-text-size-adjust: none;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, th, var {
  font-weight: normal;
  font-style: normal;
  text-align: left; }

strong {
  font-style: normal; }

ol, ul, li {
  list-style: none outside none; }

caption {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  outline: none;
  cursor: pointer;
  *outline: expression(this.hideFocus=true);
  text-decoration: none; }

img, object {
  vertical-align: top; }

textarea, input, select {
  outline: none;
  *outline: expression(this.hideFocus=true);
  font-size: 1.2em;
  font-family: Tahoma, Helvetica, Arial, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Heiti, "黑体", SimSun, "宋体", sans-serif; }

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0; }

/** 去掉safari浏览器上表单的自带样式 */
input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="number"], button, select {
  -webkit-appearance: none; }

/** 增加radio checkbox的焦点样式 */
input[type="checkbox"]:focus, input[type="radio"]:focus {
  outline: 1px dashed #4d90fe;
  outline-offset: 1px; }

hr {
  border-style: solid;
  border-bottom: none;
  border-color: #CCC; }

/** 蓝色 */
/** 灰色 */
/** 浅灰 */
/** 红色 */
/** 白色 */
/** 黑色 */
/** 浅黑 */
/** 深黑 */
/** 橙色 */
/** 功能 */
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  vertical-align: top; }

.fn-tran-100 {
  transition: all .1s ease-in 0s; }

.fn-tran-200 {
  transition: all .2s ease-in 0s; }

.fn-tran {
  transition: all 1s cubic-bezier(0, 1, 0.1, 1) 0s; }

.fn-clear {
  zoom: 1; }

.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "1";
  clear: both;
  height: 0; }

.fn-show {
  display: block; }

.fn-hide {
  display: none; }

.fn-left {
  float: left;
  _display: inline; }

.fn-right {
  float: right;
  _display: inline; }

.fn-input-text {
  vertical-align: top;
  *vertical-align: middle;
  *margin-top: -1px;
  *margin-bottom: -1px; }

.fn-input-button {
  vertical-align: top;
  *vertical-align: middle;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer; }

.fn-text-justify {
  text-align: justify;
  text-justify: inter-ideograph; }

.fn-text-center {
  text-align: center; }

.fn-table-fixed {
  table-layout: fixed; }

.fn-font-arial {
  font-family: Arial !important; }

.fn-vertical-middle {
  vertical-align: middle !important; }

.fn-opacity-hide {
  opacity: 0;
  filter: alpha(opacity=0); }

.fn-opacity-show {
  opacity: 1;
  filter: alpha(opacity=100); }

.fn-visibility-hide {
  visibility: hidden; }

.fn-visibility-show {
  visibility: visible; }

.fn-wrap, .fn-table, .fn-table-data {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal; }

.fn-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.fn-bg-center {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.fn-bg-cover-center {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat; }

.fn-MaCe {
  margin-left: auto;
  margin-right: auto; }

/** 迭代 */
.fn-BaCoF00 {
  background-color: #F00; }

.fn-BaCo000 {
  background-color: #000; }

.fn-BaCo666 {
  background-color: #666; }

.fn-BaCoFFF {
  background-color: #FFF; }

.fn-BaCoLightGray {
  background-color: #F2F2F2; }

.fn-CoFFF {
  color: #FFF; }

.fn-CoCCC {
  color: #CCC; }

.fn-Co666 {
  color: #666; }

.fn-Co333 {
  color: #333; }

.fn-Co000 {
  color: #000; }

.fn-CoBule {
  color: #4d90fe; }

.fn-FoWeBo {
  font-weight: bold; }

.fn-TeDeUn {
  text-decoration: underline; }

.fn-TeIn2em {
  text-indent: 2em; }

/** 模块：链接 */
.fn-link-blue {
  color: #4d90fe; }

.fn-link-blue:hover {
  text-decoration: underline; }

.fn-input:focus, .fn-textarea:focus, .fn-select:focus {
  border-color: #4d90fe;
  box-shadow: 0px 0px 3px rgba(77, 144, 254, 0.3); }

/** 模块：表单域 */
.fn-input, .fn-textarea {
  border: 1px solid #CCC;
  height: 16px;
  font-size: 12px;
  padding: 6px 9px;
  color: #666;
  line-height: 16px; }

/** 基础高度30 */
.fn-input-sm {
  padding: 4px 9px 3px 9px; }

/** 小号版高度25 */
.fn-input-label {
  font-size: 1.2em;
  display: inline-block;
  line-height: 1.2em; }
  .fn-input-label > input {
    float: left;
    margin: 1px 3px 0 0; }

/** checkbox radio的显示文本 */
.fn-button {
  border: 1px solid #0161fd;
  height: 30px;
  padding: 6px 9px;
  color: #FFF;
  background: #4d90fe;
  border-radius: 2px;
  font-size: 12px; }
  .fn-button:focus {
    outline: 1px solid #4d90fe;
    outline-offset: 1px; }
  .fn-button:active {
    background: #1a70fe;
    border-color: #0157e4;
    outline: none; }

/** 默认的按钮[蓝色] */
.fn-button-gray {
  border: 1px solid #a6a6a6;
  height: 30px;
  padding: 6px 9px;
  color: #FFF;
  background: #CCC;
  border-radius: 2px;
  font-size: 12px; }
  .fn-button-gray:focus {
    outline: 1px solid #CCC;
    outline-offset: 1px; }
  .fn-button-gray:active {
    background: #b3b3b3;
    border-color: #999999;
    outline: none; }

/** 灰色的按钮 */
.fn-button-red {
  border: 1px solid #b30000;
  height: 30px;
  padding: 6px 9px;
  color: #FFF;
  background: #F00;
  border-radius: 2px;
  font-size: 12px; }
  .fn-button-red:focus {
    outline: 1px solid #F00;
    outline-offset: 1px; }
  .fn-button-red:active {
    background: #cc0000;
    border-color: #990000;
    outline: none; }

/** 红色的按钮 */
.fn-button-orange {
  border: 1px solid #b34700;
  height: 30px;
  padding: 6px 9px;
  color: #FFF;
  background: #F60;
  border-radius: 2px;
  font-size: 12px; }
  .fn-button-orange:focus {
    outline: 1px solid #F60;
    outline-offset: 1px; }
  .fn-button-orange:active {
    background: #cc5200;
    border-color: #993d00;
    outline: none; }

/** 橙色的按钮 */
.fn-button-sm {
  height: 25px;
  padding: 0 9px;
  line-height: 1.1em; }

/** 小号版本 */
/** 模块：选择框 */
.fn-select {
  border: 1px solid #CCC;
  height: 30px;
  border-radius: 0;
  background: #FFF;
  padding: 6px;
  -webkit-appearance: menulist-button;
  color: #666; }

/** 基础高度30 */
.fn-select-sm {
  height: 25px; }

/** 小号版高度25 */
/** 模块：文本域 */
.fn-textarea {
  resize: none;
  line-height: 1.5em;
  overflow: hidden; }

/** 模块：表格 */
.fn-table td, .fn-table-data td, .fn-table th, .fn-table-data th {
  padding: 5px 9px; }

/** 基础 */
.fn-table-data td, .fn-table-data th {
  border: 1px solid #CCC; }
.fn-table-data thead th, .fn-table-data thead td {
  background: #F2F2F2; }

/** 数据 */
.fn-table-ho tr:hover {
  background: #F9F9F9; }
.fn-table-ho .ch-ho-disabled:hover {
  background: none; }

/** 移动显示关闭颜色 */
/** 迭代：文字显示 */
.fn-TeAlLe {
  display: left; }

.fn-TeAlRi {
  display: right; }

.fn-TeAlCe {
  display: center; }

/** 迭代：显示 */
.fn-DiTr {
  display: table-row; }

.fn-DiTc {
  display: table-cell; }

.fn-DiIb {
  display: inline-block; }

.fn-DiTa {
  display: table; }

/** 迭代：字体大小 */
.fn-FoSi12 {
  font-size: 12px; }

.fn-FoSi14 {
  font-size: 14px; }

.fn-FoSi16 {
  font-size: 16px; }

.fn-FoSi18 {
  font-size: 18px; }

.fn-FoSi20 {
  font-size: 20px; }

.fn-FoSi22 {
  font-size: 22px; }

.fn-FoSi24 {
  font-size: 24px; }

.fn-FoSi26 {
  font-size: 26px; }

.fn-FoSi28 {
  font-size: 28px; }

.fn-FoSi30 {
  font-size: 30px; }

.fn-FoSi32 {
  font-size: 32px; }

.fn-FoSi34 {
  font-size: 34px; }

.fn-FoSi36 {
  font-size: 36px; }

.fn-FoSi38 {
  font-size: 38px; }

.fn-FoSi40 {
  font-size: 40px; }

.fn-FoSi42 {
  font-size: 42px; }

.fn-FoSi44 {
  font-size: 44px; }

.fn-FoSi46 {
  font-size: 46px; }

.fn-FoSi48 {
  font-size: 48px; }

.fn-FoSi50 {
  font-size: 50px; }

.fn-FoSiEm12 {
  font-size: 1.2em; }

.fn-FoSiEm14 {
  font-size: 1.4em; }

.fn-FoSiEm16 {
  font-size: 1.6em; }

.fn-FoSiEm18 {
  font-size: 1.8em; }

.fn-FoSiEm20 {
  font-size: 2em; }

.fn-FoSiEm22 {
  font-size: 2.2em; }

.fn-FoSiEm24 {
  font-size: 2.4em; }

.fn-FoSiEm26 {
  font-size: 2.6em; }

.fn-FoSiEm28 {
  font-size: 2.8em; }

.fn-FoSiEm30 {
  font-size: 3em; }

.fn-FoSiEm32 {
  font-size: 3.2em; }

.fn-FoSiEm34 {
  font-size: 3.4em; }

.fn-FoSiEm36 {
  font-size: 3.6em; }

.fn-FoSiEm38 {
  font-size: 3.8em; }

.fn-FoSiEm40 {
  font-size: 4em; }

.fn-FoSiEm42 {
  font-size: 4.2em; }

.fn-FoSiEm44 {
  font-size: 4.4em; }

.fn-FoSiEm46 {
  font-size: 4.6em; }

.fn-FoSiEm48 {
  font-size: 4.8em; }

.fn-FoSiEm50 {
  font-size: 5em; }

/** 迭代：行高 */
.fn-LiHe10 {
  line-height: 10px; }

.fn-LiHe15 {
  line-height: 15px; }

.fn-LiHe20 {
  line-height: 20px; }

.fn-LiHe25 {
  line-height: 25px; }

.fn-LiHe30 {
  line-height: 30px; }

.fn-LiHe35 {
  line-height: 35px; }

.fn-LiHe40 {
  line-height: 40px; }

.fn-LiHe45 {
  line-height: 45px; }

.fn-LiHe50 {
  line-height: 50px; }

.fn-LiHeEm10 {
  line-height: 1em; }

.fn-LiHeEm15 {
  line-height: 1.5em; }

.fn-LiHeEm20 {
  line-height: 2em; }

.fn-LiHeEm25 {
  line-height: 2.5em; }

.fn-LiHeEm30 {
  line-height: 3em; }

.fn-LiHeEm35 {
  line-height: 3.5em; }

.fn-LiHeEm40 {
  line-height: 4em; }

.fn-LiHeEm45 {
  line-height: 4.5em; }

.fn-LiHeEm50 {
  line-height: 5em; }

/** 迭代：宽度大小 */
.fn-Wi5 {
  width: 5px; }

.fn-Wi10 {
  width: 10px; }

.fn-Wi15 {
  width: 15px; }

.fn-Wi20 {
  width: 20px; }

.fn-Wi25 {
  width: 25px; }

.fn-Wi30 {
  width: 30px; }

.fn-Wi35 {
  width: 35px; }

.fn-Wi40 {
  width: 40px; }

.fn-Wi45 {
  width: 45px; }

.fn-Wi50 {
  width: 50px; }

.fn-Wi55 {
  width: 55px; }

.fn-Wi60 {
  width: 60px; }

.fn-Wi65 {
  width: 65px; }

.fn-Wi70 {
  width: 70px; }

.fn-Wi75 {
  width: 75px; }

.fn-Wi80 {
  width: 80px; }

.fn-Wi85 {
  width: 85px; }

.fn-Wi90 {
  width: 90px; }

.fn-Wi95 {
  width: 95px; }

.fn-Wi100 {
  width: 100px; }

.fn-Wi105 {
  width: 105px; }

.fn-Wi110 {
  width: 110px; }

.fn-Wi115 {
  width: 115px; }

.fn-Wi120 {
  width: 120px; }

.fn-Wi125 {
  width: 125px; }

.fn-Wi130 {
  width: 130px; }

.fn-Wi135 {
  width: 135px; }

.fn-Wi140 {
  width: 140px; }

.fn-Wi145 {
  width: 145px; }

.fn-Wi150 {
  width: 150px; }

.fn-Wi155 {
  width: 155px; }

.fn-Wi160 {
  width: 160px; }

.fn-Wi165 {
  width: 165px; }

.fn-Wi170 {
  width: 170px; }

.fn-Wi175 {
  width: 175px; }

.fn-Wi180 {
  width: 180px; }

.fn-Wi185 {
  width: 185px; }

.fn-Wi190 {
  width: 190px; }

.fn-Wi195 {
  width: 195px; }

.fn-Wi200 {
  width: 200px; }

.fn-Wi205 {
  width: 205px; }

.fn-Wi210 {
  width: 210px; }

.fn-Wi215 {
  width: 215px; }

.fn-Wi220 {
  width: 220px; }

.fn-Wi225 {
  width: 225px; }

.fn-Wi230 {
  width: 230px; }

.fn-Wi235 {
  width: 235px; }

.fn-Wi240 {
  width: 240px; }

.fn-Wi245 {
  width: 245px; }

.fn-Wi250 {
  width: 250px; }

.fn-Wi255 {
  width: 255px; }

.fn-Wi260 {
  width: 260px; }

.fn-Wi265 {
  width: 265px; }

.fn-Wi270 {
  width: 270px; }

.fn-Wi275 {
  width: 275px; }

.fn-Wi280 {
  width: 280px; }

.fn-Wi285 {
  width: 285px; }

.fn-Wi290 {
  width: 290px; }

.fn-Wi295 {
  width: 295px; }

.fn-Wi300 {
  width: 300px; }

.fn-Wi305 {
  width: 305px; }

.fn-Wi310 {
  width: 310px; }

.fn-Wi315 {
  width: 315px; }

.fn-Wi320 {
  width: 320px; }

.fn-Wi325 {
  width: 325px; }

.fn-Wi330 {
  width: 330px; }

.fn-Wi335 {
  width: 335px; }

.fn-Wi340 {
  width: 340px; }

.fn-Wi345 {
  width: 345px; }

.fn-Wi350 {
  width: 350px; }

.fn-Wi355 {
  width: 355px; }

.fn-Wi360 {
  width: 360px; }

.fn-Wi365 {
  width: 365px; }

.fn-Wi370 {
  width: 370px; }

.fn-Wi375 {
  width: 375px; }

.fn-Wi380 {
  width: 380px; }

.fn-Wi385 {
  width: 385px; }

.fn-Wi390 {
  width: 390px; }

.fn-Wi395 {
  width: 395px; }

.fn-Wi400 {
  width: 400px; }

.fn-Wi405 {
  width: 405px; }

.fn-Wi410 {
  width: 410px; }

.fn-Wi415 {
  width: 415px; }

.fn-Wi420 {
  width: 420px; }

.fn-Wi425 {
  width: 425px; }

.fn-Wi430 {
  width: 430px; }

.fn-Wi435 {
  width: 435px; }

.fn-Wi440 {
  width: 440px; }

.fn-Wi445 {
  width: 445px; }

.fn-Wi450 {
  width: 450px; }

.fn-Wi455 {
  width: 455px; }

.fn-Wi460 {
  width: 460px; }

.fn-Wi465 {
  width: 465px; }

.fn-Wi470 {
  width: 470px; }

.fn-Wi475 {
  width: 475px; }

.fn-Wi480 {
  width: 480px; }

.fn-Wi485 {
  width: 485px; }

.fn-Wi490 {
  width: 490px; }

.fn-Wi495 {
  width: 495px; }

.fn-Wi500 {
  width: 500px; }

.fn-Wi505 {
  width: 505px; }

.fn-Wi510 {
  width: 510px; }

.fn-Wi515 {
  width: 515px; }

.fn-Wi520 {
  width: 520px; }

.fn-Wi525 {
  width: 525px; }

.fn-Wi530 {
  width: 530px; }

.fn-Wi535 {
  width: 535px; }

.fn-Wi540 {
  width: 540px; }

.fn-Wi545 {
  width: 545px; }

.fn-Wi550 {
  width: 550px; }

.fn-Wi555 {
  width: 555px; }

.fn-Wi560 {
  width: 560px; }

.fn-Wi565 {
  width: 565px; }

.fn-Wi570 {
  width: 570px; }

.fn-Wi575 {
  width: 575px; }

.fn-Wi580 {
  width: 580px; }

.fn-Wi585 {
  width: 585px; }

.fn-Wi590 {
  width: 590px; }

.fn-Wi595 {
  width: 595px; }

.fn-Wi600 {
  width: 600px; }

.fn-Wi605 {
  width: 605px; }

.fn-Wi610 {
  width: 610px; }

.fn-Wi615 {
  width: 615px; }

.fn-Wi620 {
  width: 620px; }

.fn-Wi625 {
  width: 625px; }

.fn-Wi630 {
  width: 630px; }

.fn-Wi635 {
  width: 635px; }

.fn-Wi640 {
  width: 640px; }

.fn-Wi645 {
  width: 645px; }

.fn-Wi650 {
  width: 650px; }

.fn-Wi655 {
  width: 655px; }

.fn-Wi660 {
  width: 660px; }

.fn-Wi665 {
  width: 665px; }

.fn-Wi670 {
  width: 670px; }

.fn-Wi675 {
  width: 675px; }

.fn-Wi680 {
  width: 680px; }

.fn-Wi685 {
  width: 685px; }

.fn-Wi690 {
  width: 690px; }

.fn-Wi695 {
  width: 695px; }

.fn-Wi700 {
  width: 700px; }

.fn-Wi705 {
  width: 705px; }

.fn-Wi710 {
  width: 710px; }

.fn-Wi715 {
  width: 715px; }

.fn-Wi720 {
  width: 720px; }

.fn-Wi725 {
  width: 725px; }

.fn-Wi730 {
  width: 730px; }

.fn-Wi735 {
  width: 735px; }

.fn-Wi740 {
  width: 740px; }

.fn-Wi745 {
  width: 745px; }

.fn-Wi750 {
  width: 750px; }

.fn-Wi755 {
  width: 755px; }

.fn-Wi760 {
  width: 760px; }

.fn-Wi765 {
  width: 765px; }

.fn-Wi770 {
  width: 770px; }

.fn-Wi775 {
  width: 775px; }

.fn-Wi780 {
  width: 780px; }

.fn-Wi785 {
  width: 785px; }

.fn-Wi790 {
  width: 790px; }

.fn-Wi795 {
  width: 795px; }

.fn-Wi800 {
  width: 800px; }

.fn-Wi805 {
  width: 805px; }

.fn-Wi810 {
  width: 810px; }

.fn-Wi815 {
  width: 815px; }

.fn-Wi820 {
  width: 820px; }

.fn-Wi825 {
  width: 825px; }

.fn-Wi830 {
  width: 830px; }

.fn-Wi835 {
  width: 835px; }

.fn-Wi840 {
  width: 840px; }

.fn-Wi845 {
  width: 845px; }

.fn-Wi850 {
  width: 850px; }

.fn-Wi855 {
  width: 855px; }

.fn-Wi860 {
  width: 860px; }

.fn-Wi865 {
  width: 865px; }

.fn-Wi870 {
  width: 870px; }

.fn-Wi875 {
  width: 875px; }

.fn-Wi880 {
  width: 880px; }

.fn-Wi885 {
  width: 885px; }

.fn-Wi890 {
  width: 890px; }

.fn-Wi895 {
  width: 895px; }

.fn-Wi900 {
  width: 900px; }

.fn-Wi905 {
  width: 905px; }

.fn-Wi910 {
  width: 910px; }

.fn-Wi915 {
  width: 915px; }

.fn-Wi920 {
  width: 920px; }

.fn-Wi925 {
  width: 925px; }

.fn-Wi930 {
  width: 930px; }

.fn-Wi935 {
  width: 935px; }

.fn-Wi940 {
  width: 940px; }

.fn-Wi945 {
  width: 945px; }

.fn-Wi950 {
  width: 950px; }

.fn-Wi955 {
  width: 955px; }

.fn-Wi960 {
  width: 960px; }

.fn-Wi965 {
  width: 965px; }

.fn-Wi970 {
  width: 970px; }

.fn-Wi975 {
  width: 975px; }

.fn-Wi980 {
  width: 980px; }

.fn-Wi985 {
  width: 985px; }

.fn-Wi990 {
  width: 990px; }

.fn-Wi995 {
  width: 995px; }

.fn-Wi1000 {
  width: 1000px; }

/** 迭代：高度大小 */
.fn-He5 {
  height: 5px; }

.fn-He10 {
  height: 10px; }

.fn-He15 {
  height: 15px; }

.fn-He20 {
  height: 20px; }

.fn-He25 {
  height: 25px; }

.fn-He30 {
  height: 30px; }

.fn-He35 {
  height: 35px; }

.fn-He40 {
  height: 40px; }

.fn-He45 {
  height: 45px; }

.fn-He50 {
  height: 50px; }

.fn-He55 {
  height: 55px; }

.fn-He60 {
  height: 60px; }

.fn-He65 {
  height: 65px; }

.fn-He70 {
  height: 70px; }

.fn-He75 {
  height: 75px; }

.fn-He80 {
  height: 80px; }

.fn-He85 {
  height: 85px; }

.fn-He90 {
  height: 90px; }

.fn-He95 {
  height: 95px; }

.fn-He100 {
  height: 100px; }

/** 迭代：内白大小 */
.fn-PaTo5 {
  padding-top: 5px; }

.fn-PaRi5 {
  padding-right: 5px; }

.fn-PaBo5 {
  padding-bottom: 5px; }

.fn-PaLe5 {
  padding-left: 5px; }

.fn-PaTo10 {
  padding-top: 10px; }

.fn-PaRi10 {
  padding-right: 10px; }

.fn-PaBo10 {
  padding-bottom: 10px; }

.fn-PaLe10 {
  padding-left: 10px; }

.fn-PaTo15 {
  padding-top: 15px; }

.fn-PaRi15 {
  padding-right: 15px; }

.fn-PaBo15 {
  padding-bottom: 15px; }

.fn-PaLe15 {
  padding-left: 15px; }

.fn-PaTo20 {
  padding-top: 20px; }

.fn-PaRi20 {
  padding-right: 20px; }

.fn-PaBo20 {
  padding-bottom: 20px; }

.fn-PaLe20 {
  padding-left: 20px; }

.fn-PaTo25 {
  padding-top: 25px; }

.fn-PaRi25 {
  padding-right: 25px; }

.fn-PaBo25 {
  padding-bottom: 25px; }

.fn-PaLe25 {
  padding-left: 25px; }

.fn-PaTo30 {
  padding-top: 30px; }

.fn-PaRi30 {
  padding-right: 30px; }

.fn-PaBo30 {
  padding-bottom: 30px; }

.fn-PaLe30 {
  padding-left: 30px; }

.fn-PaTo35 {
  padding-top: 35px; }

.fn-PaRi35 {
  padding-right: 35px; }

.fn-PaBo35 {
  padding-bottom: 35px; }

.fn-PaLe35 {
  padding-left: 35px; }

.fn-PaTo40 {
  padding-top: 40px; }

.fn-PaRi40 {
  padding-right: 40px; }

.fn-PaBo40 {
  padding-bottom: 40px; }

.fn-PaLe40 {
  padding-left: 40px; }

.fn-PaTo45 {
  padding-top: 45px; }

.fn-PaRi45 {
  padding-right: 45px; }

.fn-PaBo45 {
  padding-bottom: 45px; }

.fn-PaLe45 {
  padding-left: 45px; }

.fn-PaTo50 {
  padding-top: 50px; }

.fn-PaRi50 {
  padding-right: 50px; }

.fn-PaBo50 {
  padding-bottom: 50px; }

.fn-PaLe50 {
  padding-left: 50px; }

.fn-PaTo55 {
  padding-top: 55px; }

.fn-PaRi55 {
  padding-right: 55px; }

.fn-PaBo55 {
  padding-bottom: 55px; }

.fn-PaLe55 {
  padding-left: 55px; }

.fn-PaTo60 {
  padding-top: 60px; }

.fn-PaRi60 {
  padding-right: 60px; }

.fn-PaBo60 {
  padding-bottom: 60px; }

.fn-PaLe60 {
  padding-left: 60px; }

.fn-PaTo65 {
  padding-top: 65px; }

.fn-PaRi65 {
  padding-right: 65px; }

.fn-PaBo65 {
  padding-bottom: 65px; }

.fn-PaLe65 {
  padding-left: 65px; }

.fn-PaTo70 {
  padding-top: 70px; }

.fn-PaRi70 {
  padding-right: 70px; }

.fn-PaBo70 {
  padding-bottom: 70px; }

.fn-PaLe70 {
  padding-left: 70px; }

.fn-PaTo75 {
  padding-top: 75px; }

.fn-PaRi75 {
  padding-right: 75px; }

.fn-PaBo75 {
  padding-bottom: 75px; }

.fn-PaLe75 {
  padding-left: 75px; }

.fn-PaTo80 {
  padding-top: 80px; }

.fn-PaRi80 {
  padding-right: 80px; }

.fn-PaBo80 {
  padding-bottom: 80px; }

.fn-PaLe80 {
  padding-left: 80px; }

.fn-PaTo85 {
  padding-top: 85px; }

.fn-PaRi85 {
  padding-right: 85px; }

.fn-PaBo85 {
  padding-bottom: 85px; }

.fn-PaLe85 {
  padding-left: 85px; }

.fn-PaTo90 {
  padding-top: 90px; }

.fn-PaRi90 {
  padding-right: 90px; }

.fn-PaBo90 {
  padding-bottom: 90px; }

.fn-PaLe90 {
  padding-left: 90px; }

.fn-PaTo95 {
  padding-top: 95px; }

.fn-PaRi95 {
  padding-right: 95px; }

.fn-PaBo95 {
  padding-bottom: 95px; }

.fn-PaLe95 {
  padding-left: 95px; }

.fn-PaTo100 {
  padding-top: 100px; }

.fn-PaRi100 {
  padding-right: 100px; }

.fn-PaBo100 {
  padding-bottom: 100px; }

.fn-PaLe100 {
  padding-left: 100px; }

/** 迭代：外白大小 */
.fn-MaTo5 {
  margin-top: 5px; }

.fn-MaRi5 {
  margin-right: 5px; }

.fn-MaBo5 {
  margin-bottom: 5px; }

.fn-MaLe5 {
  margin-left: 5px; }

.fn-MaTo10 {
  margin-top: 10px; }

.fn-MaRi10 {
  margin-right: 10px; }

.fn-MaBo10 {
  margin-bottom: 10px; }

.fn-MaLe10 {
  margin-left: 10px; }

.fn-MaTo15 {
  margin-top: 15px; }

.fn-MaRi15 {
  margin-right: 15px; }

.fn-MaBo15 {
  margin-bottom: 15px; }

.fn-MaLe15 {
  margin-left: 15px; }

.fn-MaTo20 {
  margin-top: 20px; }

.fn-MaRi20 {
  margin-right: 20px; }

.fn-MaBo20 {
  margin-bottom: 20px; }

.fn-MaLe20 {
  margin-left: 20px; }

.fn-MaTo25 {
  margin-top: 25px; }

.fn-MaRi25 {
  margin-right: 25px; }

.fn-MaBo25 {
  margin-bottom: 25px; }

.fn-MaLe25 {
  margin-left: 25px; }

.fn-MaTo30 {
  margin-top: 30px; }

.fn-MaRi30 {
  margin-right: 30px; }

.fn-MaBo30 {
  margin-bottom: 30px; }

.fn-MaLe30 {
  margin-left: 30px; }

.fn-MaTo35 {
  margin-top: 35px; }

.fn-MaRi35 {
  margin-right: 35px; }

.fn-MaBo35 {
  margin-bottom: 35px; }

.fn-MaLe35 {
  margin-left: 35px; }

.fn-MaTo40 {
  margin-top: 40px; }

.fn-MaRi40 {
  margin-right: 40px; }

.fn-MaBo40 {
  margin-bottom: 40px; }

.fn-MaLe40 {
  margin-left: 40px; }

.fn-MaTo45 {
  margin-top: 45px; }

.fn-MaRi45 {
  margin-right: 45px; }

.fn-MaBo45 {
  margin-bottom: 45px; }

.fn-MaLe45 {
  margin-left: 45px; }

.fn-MaTo50 {
  margin-top: 50px; }

.fn-MaRi50 {
  margin-right: 50px; }

.fn-MaBo50 {
  margin-bottom: 50px; }

.fn-MaLe50 {
  margin-left: 50px; }

.fn-MaTo55 {
  margin-top: 55px; }

.fn-MaRi55 {
  margin-right: 55px; }

.fn-MaBo55 {
  margin-bottom: 55px; }

.fn-MaLe55 {
  margin-left: 55px; }

.fn-MaTo60 {
  margin-top: 60px; }

.fn-MaRi60 {
  margin-right: 60px; }

.fn-MaBo60 {
  margin-bottom: 60px; }

.fn-MaLe60 {
  margin-left: 60px; }

.fn-MaTo65 {
  margin-top: 65px; }

.fn-MaRi65 {
  margin-right: 65px; }

.fn-MaBo65 {
  margin-bottom: 65px; }

.fn-MaLe65 {
  margin-left: 65px; }

.fn-MaTo70 {
  margin-top: 70px; }

.fn-MaRi70 {
  margin-right: 70px; }

.fn-MaBo70 {
  margin-bottom: 70px; }

.fn-MaLe70 {
  margin-left: 70px; }

.fn-MaTo75 {
  margin-top: 75px; }

.fn-MaRi75 {
  margin-right: 75px; }

.fn-MaBo75 {
  margin-bottom: 75px; }

.fn-MaLe75 {
  margin-left: 75px; }

.fn-MaTo80 {
  margin-top: 80px; }

.fn-MaRi80 {
  margin-right: 80px; }

.fn-MaBo80 {
  margin-bottom: 80px; }

.fn-MaLe80 {
  margin-left: 80px; }

.fn-MaTo85 {
  margin-top: 85px; }

.fn-MaRi85 {
  margin-right: 85px; }

.fn-MaBo85 {
  margin-bottom: 85px; }

.fn-MaLe85 {
  margin-left: 85px; }

.fn-MaTo90 {
  margin-top: 90px; }

.fn-MaRi90 {
  margin-right: 90px; }

.fn-MaBo90 {
  margin-bottom: 90px; }

.fn-MaLe90 {
  margin-left: 90px; }

.fn-MaTo95 {
  margin-top: 95px; }

.fn-MaRi95 {
  margin-right: 95px; }

.fn-MaBo95 {
  margin-bottom: 95px; }

.fn-MaLe95 {
  margin-left: 95px; }

.fn-MaTo100 {
  margin-top: 100px; }

.fn-MaRi100 {
  margin-right: 100px; }

.fn-MaBo100 {
  margin-bottom: 100px; }

.fn-MaLe100 {
  margin-left: 100px; }

body {
  background: #FFF; }

/** 我的简历 */
.aboutme .bodyer {
  min-height: calc(100vh - 60vm); }

.aboutme .progress {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF; }

.aboutme .ch-main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px; }

.header {
  height: 100px;
  background: #F00; }

.bodyer {
  min-height: calc(100vh - 100px);
  background: #CCC; }

.tutu {
  width: 100px;
  height: 100px;
  background: url("../../img/tutu.jpg") no-repeat 0 0; }

/** ECMAScript 6.0 */
.ec-title {
  background: #4d90fe;
  color: #FFF;
  padding: 2px 5px;
  border-radius: 3px; }

.ec-attr {
  padding: 2px 0;
  border-bottom: 1px dashed #CCC; }

.ec-content {
  background: #FAFAFA;
  margin: 5px 40px 0 40px;
  padding: 5px; }

.es-code {
  margin: 5px 0; }
  .es-code .ch-seed {
    font-family: Courier New;
    display: inline-block;
    background: #fdf6e3;
    padding: 5px 10px;
    margin-left: 2px;
    border-left: 2px solid #4d90fe; }

/*# sourceMappingURL=main.css.map */
