@charset "utf-8";

// 变量 (可以重设公用的变量)
$color: #FFF;

// 依赖
@import "reset.scss";
@import "globe.scss";

// 业务

body{background:$color;}

/** 我的简历 */
.aboutme .bodyer{min-height:calc(100vh - 60vm);}
.aboutme .progress{position:fixed;width:100%;height:100%;background:#FFF;}
.aboutme .ch-main{position:absolute;top:50%;left:50%;margin:-20px 0 0 -20px;}

.header{height:100px;background:#F00;}
.bodyer{min-height:calc(100vh - 100px);background:#CCC;}


.tutu{width:100px;height:100px;background:background("tutu.jpg");}

/** ECMAScript 6.0 */
.ec-title{background:$COLOR_BULE;color:$COLOR_WHITE;padding:2px 5px;border-radius:3px;}
.ec-attr{padding:2px 0;border-bottom:1px dashed #CCC;}
.ec-content{background:#FAFAFA;margin:5px 40px 0 40px;padding:5px;}
.es-code{
	font-family:Tahoma;
	.ch-seed{display:inline-block;background:#fdf6e3;padding:0 10px;margin-left:2px;border-left:2px solid $COLOR_BULE;}
}
