/*全局*/
@charset "UTF-8";
@hHeight: 45px;
@fHeight: 100px;
@mWidth: 1080px;
@mColor: #4285f4;
@hColor: #ea4335;

.radius(@size: 3){
	border-bottom-left-radius:@size*1px;
	border-top-right-radius:@size*1px;
}

.radius-re(@size: 3){
	border-bottom-right-radius:@size*1px;
	border-top-left-radius:@size*1px;
}

a{
	color: @mColor;
	padding:3px 5px;
	&:hover{
		background:@mColor;
		color:#FFF;
		.radius(3);
	}
}

.middle{
	width: @mWidth;
	margin: 0 auto;
}

body, .thetop-layout{
	background:#F2F2F2;
}

.thetop-Header{
	height:@hHeight;
	background:#FFF;
	.ch-main{
		.middle;
		
	}
}

.thetop-logo{
	font-size:3em;
	height:35px;
	line-height:35px;
	padding:0 5px;
	margin-top:5px;
	display:inline-block;
	background:@mColor;
	color:#FFF;
	.radius(5);
}

.thetop-logo-min{
	.thetop-logo;
	margin-top:40px;
	margin-right:5px;
	font-size:1.2em;
	padding:0 4px;
	line-height:22px;
	height:20px;
	.radius(3);
}

.thetop-body{
	min-height: calc(~"100vh -" @hHeight + @fHeight);
}

.thetop-list{
	.ch-img{
		float:left;
		width:80px;
		height:80px;
		overflow:hidden;
		margin:10px;
		.radius(5);
		img{
			transform:translate(0, 0);
			transition: all 1s ease-in-out 0s;
		}
	}
	.ch-score{
		float:right;
		margin:10px;
		color:#FFF;
		.radius-re(3);
		background:@hColor;
		padding:3px 5px;
	}
	.ch-text{
		line-height:20px;
		padding-top:10px;
		color:#666;
	}
	.ch-name{
		.radius(3);
		background:@mColor;
		color:#FFF;
		padding:3px 5px;
	}
	.ch-btn,.ch-btn-gray{
		position:relative;
		z-index:2;
		margin-left:5px;
		display:none;
	}
	.ch-btn-gray{
		color:#CCC;
		&:hover{
			background:#CCC;
			color:#FFF;
		}
	}
	.ch-mark{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index:1;
		background:rgba(255,255,255,.8)
	}
	li{
		position:relative;
		height:100px;
		border-bottom:1px solid #F1F1F1;
		&:hover{
			.ch-btn{
				display:inline;
			}
			.ch-img{
				img{
					transform:translate(0, -100%);
				}
			}
		}
	}
}

.thetop-info{
	background:#FFF;
	padding:10px;
	.radius-re(5);
	color:#666;
	line-height:20px;
	.ch-num{
		color:@hColor;
	}
}

.thetop-footer{
	height:@fHeight;
	background:#FFF;
	.ch-main{
		.middle;
		line-height:@fHeight;
		text-align:right;
		color:@mColor;
	}
}

.thetop-main{
	.middle;
	padding: 20px 0;
	.ch-left{
		.radius(5);
		float:left;
		width: 660px;
		background:#FFF;
	}
	.ch-right{
		float:right;
		width: 400px;
	}
}

.thetop-nav{
	padding:10px 20px;
	a{
		display:inline-block;
		&.ch-focus{
			background:@mColor;
			color:#FFF;
			.radius(3);
		}
	}
}

.thetop-sub{
	padding:10px 20px 0 20px;
	background:#FAFAFA;
	a{
		color:#999;
		&:hover{
			color:#FFF;
			background:#999;
		}
	}
}

.thetop-page{
	padding:10px;
	.react-page{
		color:#666;
		line-height:25px;
		a{
			.radius(3);
			color:#666;
			background:#FAFAFA;
			display:inline-block;
			width:25px;
			height:25px;
			line-height:25px;
			padding:0;
			text-align:center;
			&:hover,&.active{
				background:@mColor;
				color:#FFF;
			}
		}
	}
}
















