/**
 * budget样式主入口
 * 2014,12,02
 * 统一前缀 bu-
 * 颜色	字体黑色 666
 * 		外框灰色 CCC
 * 		输入蓝色	1267e9
 * 		输入深蓝	04419e
 * 		错误红色	d8442e
 * 		正确绿色 009a57
 * 		警告黄色 ffb505
 */
@charset "utf-8";
/*自定义表格*/
.bu-data-table{table-layout:fixed;}
.bu-data-table>*>*>td,.bu-data-table>*>*>th{padding:5px;word-wrap:break-word;word-break:break-all;white-space:normal;}
.bu-data-table>thead>tr,.bu-data-table>tfoot>tr{background:#EEE;}
.bu-data-table>tbody>tr:nth-child(2n){background:#FAFAFA;}
.bu-data-table>tbody>tr:hover{background:#F5F5F5;}
.bu-data-table .bu-input-text{height:26px;margin:-5px 0;padding:5px;}
.bu-data-table .bu-input-select{height:26px;margin:-5px 0;}
.bu-data-table .bu-input-checkbox{vertical-align:-2px}
/*自定义表单*/
.bu-input-text{border:1px solid #CCC;height:24px;line-height:14px;padding:2px 5px;box-sizing:border-box;color:#666;border-radius:3px;}
.bu-input-text:focus{border-color:#1267e9;color:#1267e9;}
.bu-input-checkbox{-webkit-appearance:none;width:14px;height:14px;border:1px solid #CCC;border-radius:3px;background:#FFF;}
.bu-input-checkbox:checked{background:#CCC;}
.bu-input-select{-webkit-appearance:none;height:24px;padding:2px 5px;background:#FFF;border:1px solid #CCC;border-radius:3px;color:#666;}
.bu-input-select:focus{border-color:#1267e9;color:#1267e9;}
.bu-input-button,.bu-input-button-blue{display:inline-block;box-sizing:border-box;width:auto;height:24px;border:1px solid #CCC;background:#FFF;border-radius:3px;padding:3px 5px;color:#666;cursor:pointer;}
.bu-input-button:active{background:#CCC;color:#FFF;border-color:#AAA;}
.bu-input-button-blue{border-color:#1267e9;color:#1267e9;}
.bu-input-button-blue:active{background:#1267e9;color:#FFF;border-color:#04419e;}
/*全局链接*/
.bu-link{color:#666;}
.bu-link:hover{color:#1267e9;text-decoration:underline;}
/*入口*/
.bu-enter{position:fixed;width:100px;top:20px;left:50%;margin-left:-550px;}
/*修改&保存*/
.bu-edit-hide{display:block;}
.bu-edit-show{display:none;}
.bu-edit .bu-edit-hide{display:none;}
.bu-edit .bu-edit-show{display:block;}
.bu-edit-hide-inline{display:inline;}
.bu-edit-show-inline{display:none;}
.bu-edit .bu-edit-hide-inline{display:none;}
.bu-edit .bu-edit-show-inline{display:inline;}
